<div class="about">
    <header class="hidden-xs"><a href="/">Home</a> / <i>About Us</i></header>
    <div class="ab_contain">
        <h1 class="bold hidden-xs">WHY TRAVEL WITH INBOUNC CHINA</h1>
        <h1 class="bold visible-xs">WHY TRAVEL WITH<br> INBOUNC CHINA</h1>

        <p class="hidden-xs">Inbound China is a well-established destination management company
            <br> with over 20 years' experience in handling ground arrangements and touring in China.It's easy to see why China, with its long,
            <br>fascinating history, its rich culture and spectacular landscapes,
            <br>appears on so many bucket-lists. Choosing to work with Inbound China means that you have access to our huge bank of insight and specialist local knowledge.
            <br>Working together we can tailor the perfect tour, package or holiday for you and your customers – we can offer you anywhere
            <br>and everywhere across the length and breadth of China!
            <br>We'll help you make sure every box is ticked – even our guides are handpicked to make sure that we can provided the best in the business.
        </p>
        <p class="visible-xs">
                Inbound China is a well-established destination management company with over 20 years' experience in handling ground arrangements and touring in China.
                It's easy to see why China, with its long, fascinating history, its rich culture and spectacular landscapes, appears on so many bucket-lists. Choosing to work with Inbound China means that you have access to our huge bank of insight and specialist local knowledge. Working together we can tailor the perfect tour, package or holiday for you and your customers – we can offer you anywhere and everywhere across the length and breadth of China! We'll help you make sure every box is ticked – even our guides are handpicked to make sure that we can provided the best in the business.
        </p>
        <ul class="container-fluid">
           
            <li class="col-lg-6">
                <img class="hidden-xs" src="/images/about_pic1.png" alt="">
                <img class="visible-xs-inline" src="/images/mb1.png" alt="">

                <div class="info">
                <h2 class="bold">WHY WE ARE THE BEST</h2>
                <p>The experienced team at Inbound China are the consummate professionals when it comes to seamlessly delivering...</p>
                <a href="/about/best.html">FIND OUT MORE></a>
            </div>
            </li>
        
            <li class="col-lg-6">
                    <img class="hidden-xs" src="/images/about_pic2.png" alt="">
                    <img class="visible-xs-inline" src="/images/mb2.png" alt="">

                    <div class="info">
                            <h2 class="bold">OUR HISTORY</h2>
                            <p>The experienced team at Inbound China are the consummate professionals when it comes to seamlessly delivering...</p>
                            <a href="/about/history.html">FIND OUT MORE></a>
                        </div>
            </li>
            <li class="col-lg-6">             
                 <img class="visible-xs-inline" src="/images/mb3.png" alt="">

                    <div class="info">

                            <h2 class="bold">HOW WE CREATE YOUR JOURNEY</h2>
                            <p>The experienced team at Inbound China are the consummate professionals when ...</p>
                            <a href="/about/ibc.html">FIND OUT MORE></a>
                        </div>
                        <img class="hidden-xs" src="/images/about_pic3.png" alt="">

            </li>
        
           
            <li class="col-lg-6">
                    <img class="visible-xs-inline" src="/images/mb4.png" alt="">

                    <div class="info">
                            <h2 class="bold">OUR AWORDS</h2>
                            <p>The experienced team at Inbound China are the consummate professionals when it comes to seamlessly delivering...</p>
                            <a href="/about/modal.html">FIND OUT MORE></a>
                        </div>
                        <img class="hidden-xs" src="/images/about_pic4.png" alt="">

            </li>
           
        </ul>
    </div>
</div>