<div class="nav visible-lg ">
    <img src="/images/logo.png" alt="">
    <ul class="f18">
        <li id="homeli">
            <a href="/">Home</a>
        </li>
        <li id="aboutli">
            <a href="/about.html">About</a>
        </li>
        <li id="serviceli">
            <a href="/service.html">Our Services</a>
        </li>
        <li id="reviewli"> 
            <a href="/review.html">Review</a>
        </li>
        <li class="nav_right">
            <a href="/contact.html" class="f18">Contact Us</a>
        </li>

    </ul>
</div>
<div class="nav_bar hidden-lg">
    <span class="logo">
            <img class="logo" src="/images/logo.png" alt="">
    </span>
    <span class="menu">
            <img class="logo" src="/images/menu.png" alt="">
    </span>
</div>
<script>
    
</script>
