<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
	<link rel='stylesheet' href='/stylesheets/home.css' />
	<link rel='stylesheet' href='/stylesheets/common.css' />
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/stylesheets/about.css' />
	<link rel='stylesheet' href='/stylesheets/contact.css' />

	<link rel='stylesheet' href='/stylesheets/service.css' />
	<link rel='stylesheet' href='/stylesheets/review.css' />
	<link rel='stylesheet' href='/stylesheets/video-js.min.css' />
	<script src="javascripts/video.min.js"></script> 
</head>
<body>
	<div class="header">
        <ul>
            <li>
                <img src="/images/flag_1.png" alt="">
                <span>+44 (0) 20 3595 3003</span>
            </li>
            <li>
                <img src="/images/flag_2.png" alt="">
                <span>+44 (0) 20 3595 3003</span>
            </li>
            <li>
                <img src="/images/flag_3.png" alt="">
                <span>+44 (0) 20 3595 3003</span>
            </li>
            <li>
                <img src="/images/flag_4.png" alt="">
                <span>+44 (0) 20 3595 3003</span>
            </li>
        </ul>
    </div>
	<div class="nav">
	    <img src="/images/logo.png" alt="">
	    <ul class="f18">
	        <li>
	            <a href="/">Home</a>
	        </li>
	        <li>
	            <a href="/about">About</a>
	        </li>
	        <li>
	            <a href="/service">Our Services</a>
	        </li>
	        <li>
	            <a href="/review">Review</a></li>
	        <li class="nav_right"><button class="btn btn-danger f18">contact us</button></li>

	    </ul>
	</div>
	<div class="home">
    <div class="banner_video">
        <video id="my-video" class="video-js vjs-big-play-centered" controls preload="auto" 
             data-setup="{}" poster="/images/video_banner.png">
             <source src="/images/IBC.mp4" type="video/mp4">
                <source src="http://vjs.zencdn.net/v/oceans.webm" type="video/webm">
          <source src="http://vjs.zencdn.net/v/oceans.ogv" type="video/ogg">
        </video>
    </div>
    <div class="home_best">
        <h1 class="bold">WHY WE ARE THIE BEST</h1>
        <p>Inbound China is a well-established destination management
        </p>
        <p>
                company with over 20 years' experience in handling ground arrangements and touring in China. It's easy to see why China,
                with its long, fascinating history.</p>
        <ul>
            <li>
                <img src="/images/icon_correct.png" alt="">
                <h2>Profitability</h2>
                <p>We provide you China Travel programmes at competitive price to ensure greatest profit of your business.</p>
            </li>
            <li>
                <img src="/images/icon_correct.png" alt="">
                <h2>Profitability</h2>
                <p>We provide you China Travel programmes at competitive price to ensure greatest profit of your business.</p>
            </li>
             <li>
                <img src="/images/icon_correct.png" alt="">
                <h2>Profitability</h2>
                <p>We provide you China Travel programmes at competitive price to ensure greatest profit of your business.</p>
            </li>
            <li>
                <img src="/images/icon_correct.png" alt="">
                <h2>Profitability</h2>
                <p>We provide you China Travel programmes at competitive price to ensure greatest profit of your business.</p>
            </li>
        </ul>
    </div>
    <div class="home_do">
        <h1>What We Can Do</h1>
        <ul>
            <li>
                <span>
                        <img src="/images/index_pic1.png" alt="">
                </span>
                <h2>Tailormade</h2>
                <p>A group tour with Inbound China gives travelers the chance to see all the biggest and best...</p>
            </li>
            <li>
                    <span>
                            <img src="/images/index_pic2.png" alt="">
                    </span>
                    <h2>Tailormade</h2>
                    <p>A group tour with Inbound China gives travelers the chance to see all the biggest and best...</p>
            </li>
            <li>
                    <span>
                            <img src="/images/index_pic3.png" alt="">
                    </span>
                    <h2>Tailormade</h2>
                    <p>A group tour with Inbound China gives travelers the chance to see all the biggest and best...</p>
            </li>
            <li>
                    <span>
                            <img src="/images/index_pic4.png" alt="">
                    </span>
                    <h2>Tailormade</h2>
                    <p>A group tour with Inbound China gives travelers the chance to see all the biggest and best...</p>
            </li>
            <li>
                    <span>
                            <img src="/images/index_pic5.png" alt="">
                    </span>
                    <h2>Tailormade</h2>
                    <p>A group tour with Inbound China gives travelers the chance to see all the biggest and best...</p>
            </li>
            <li>
                    <span>
                            <img src="/images/index_pic6.png" alt="">
                    </span>
                    <h2>Tailormade</h2>
                    <p>A group tour with Inbound China gives travelers the chance to see all the biggest and best...</p>
            </li>
        
        </ul>

    </div>
    <div class="home_say">
        <h1 class="bold">What travelers are saying</h1>
        <div class="home_say_list">
            <div class="hone_say_item">
                <ul>
                    <li>
                        <p>
                                “Inbound China is a well-established destination management company with over 20 years' experience in handling ground arrangements and touring in China.”
                        </p>
                        <p><img src="/images/icon_start.png" alt=""></p>

                        <div class="info">
                            <p class="user">
                                <img src="/images/icon_user.png" alt="">
                                Agatha Bridget
                            </p>
                            <p class="name">Australia</p>
                            <p class="time">Tour Date: 11/6/2017</p>
                        </div>
                    </li>
                    <li>
                            <p>
                                    “Inbound China is a well-established destination management company with over 20 years' experience in handling ground arrangements and touring in China.”
                            </p>
                            <p><img src="/images/icon_start.png" alt=""></p>
                            <div class="info">
                                <p class="user">
                                    <img src="/images/icon_user.png" alt="">
                                    Agatha Bridget
                                </p>
                                <p class="name">Australia</p>
                                <p class="time">Tour Date: 11/6/2017</p>
                            </div>
                        </li>
                        <li>
                                <p>
                                        “Inbound China is a well-established destination management company with over 20 years' experience in handling ground arrangements and touring in China.”
                                </p>
                                <p><img src="/images/icon_start.png" alt=""></p>

                                <div class="info">
                                    <p class="user">
                                        <img src="/images/icon_user.png" alt="">
                                        Agatha Bridget
                                    </p>
                                    <p class="name">Australia</p>
                                    <p class="time">Tour Date: 11/6/2017</p>
                                </div>
                            </li>
                </ul>
            </div>
        </div>
    </div>
    <% include ../layout/form.ejs %>
    <div class="home_partners">
        <h1 class="bold">Partners</h1>
        <p>The Inbound China team have both lived in and
            travelled extensively throughout China. With such intimate knowledge of this vast nation, we are perfectly positioned to
            create and tailor bespoke itineraries.</p>
            <ul>
                <li>
                    <img src="/images/foot_cp1.png" alt="">
                </li>
                <li>
                    <img src="/images/foot_cp2.png" alt="">
                </li>
                <li>
                    <img src="/images/foot_cp3.png" alt="">
                </li>
                <li>
                    <img src="/images/foot_cp4.png" alt="">
                </li>
                <li>
                    <img src="/images/foot_cp5.png" alt="">
                </li>
                <li>
                    <img src="/images/foot_cp6.png" alt="">
                </li>
                <li>
                    <img src="/images/foot_cp7.png" alt="">
                </li>
                <li>
                    <img src="/images/foot_cp8.png" alt="">
                </li>
            </ul>
    </div>
    
</div>
<div class="footer">
    <div class="foot_form">
        <div class="info">
            <h1>GET INSPIRED</h1>
            <p class="f18">Immerse yourself in our latest travel
                    stories and access exclusive offers</p>
        </div>
        <div class="info_form f16">
            <form action="">
                <div class="foot_label">
                        <input id="name" name="name" type="text" placeholder="Name">
                </div>
                <div class="foot_label">
                        <input id="name" name="email" placeholder="Email Address" type="text" placeholder="Name">
                </div>
                <div class="foot_label foot_label_submit">
                        <input type="submit" value="submit">

                    </div>
            </form>
        </div>
    </div>
    <div class="contact">
        <h2>Contact us</h2>
        <ul>
            <li>United Kingdom</li>
            <li>Opening hours:
                    Mon-Fri 09:00-17:30</li>
            <li>+44 (0) 20 3595 3003
                    info@inboundchina.com</li>

        </ul>
        <ul>
                <li>United Kingdom</li>
                <li>Opening hours:
                        Mon-Fri 09:00-17:30</li>
                <li>+44 (0) 20 3595 3003
                        info@inboundchina.com</li>

        </ul>
        <ul>
                <li>United Kingdom</li>
                <li>Opening hours:
                        Mon-Fri 09:00-17:30</li>
                <li>+44 (0) 20 3595 3003
                        info@inboundchina.com</li>

        </ul>
        <ul>
                <li>United Kingdom</li>
                <li>Opening hours:
                        Mon-Fri 09:00-17:30</li>
                <li>+44 (0) 20 3595 3003
                        info@inboundchina.com</li>
   
        </ul>      
    </div>
</div>
</body>
<script>
	

</script>
</html>