<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<% include layout/head.ejs %>

</head>
<body>
	<% include layout/header.ejs %>
	<% include layout/nav.ejs %>
	<% if (pagename!='home') { %>
	<% include layout/banner.ejs %>
	<% } %>
	<% var page ="page/"+pagename+".ejs"%>
	<%- include(page,{title:title,})%>
	<% include layout/footer.ejs %>
</body>
<script>
	

</script>
</html>