<div class="about h_section">
    <h1>Why we are the best</h1>
    <p>Inbound China is a well-established destination
            management company with over 20 years' experience in
            handling ground arrangements and touring in China. It's
            easy to see why China, with its long, fascinating history.</p>
            <ul>
                    <li>
                        <span> <img src="/images/best1.png" alt="">
                        </span>
                        <div class="about_info">
                            <h2>Profitability</h2>
                            <p>We provide you China Travel programmes at competitive price to ensure greatest profit of your business. 
                                </p>
                        </div>
                    </li>
                 <li>
                        <span> <img src="/images/best2.png" alt="">
                        </span>
                        <div class="about_info">
                            <h2>Overseas<br>
                                branches</h2>
                            <p>Our branches in London, Sydney and Auckland will make our communication easily with no time difference.
                                </p>
                        </div>
                    </li>
                     <li>
                        <span> <img src="/images/best3.png" alt="">
                        </span>
                        <div class="about_info">
                            <h2>Professional<br>
                                travel services</h2>
                            <p>From experienced trip advisors to guides and drivers, all of them are knowledgeable and professional to ensure the enjoyment, safety and wellbeing of your customers.
                                </p>
                        </div>
                    </li>
                     <li>
                        <span> <img src="/images/best4.png" alt="">
                        </span>
                        <div class="about_info">
                            <h2>Personalized<br>
                                Approach</h2>
                            <p>We develop China travel programmes for the ultimate success and profit of your business.</p>
                       </div>
                    </li>
                </ul>    
            
</div>