<div class="about h_section">
    <h1>Our Awords</h1>
    <p>It's easy to see why China, with its long, fascinating history, its rich culture and spectacular landscapes, appears on so many bucket-lists. Choosing to work with Inbound China means that you have access to our huge bank of insight and specialist local knowledge. Working together we can tailor the perfect tour, package or holiday for you and your customers – we can offer you anywhere and everywhere across the length and breadth of China! We'll help you make sure every box is ticked – even our guides are handpicked to make sure that we can provided the best in the business.</p>
    <p class="thum">
        <img src="/images/index_cup.png" alt="">
        <img src="/images/index_grade.png" alt="">
    </p>
</div>