.about p{
    font-size: .346667rem;
    padding:0 .32rem;
}
.about ul{
    margin-top: .933333rem;
    padding:0 .32rem;
}
.about ul li{
    background: #e9eef2;
    display: flex;
    margin-bottom:  .8rem;
}
.about ul li  span{
    width:50%;
    height:6.266667rem;
}
.about ul li img{
    width:100%;
    height:6.266667rem;
}
.about .about_info{
    padding-left: .32rem;
    width:50%;
}
.about .about_info p{
    padding:0;
}
.about .about_info h2{
    line-height:  .533333rem;
    font-size: .426667rem;
}
.about .about_info i{
    color:#113d5e;
    text-decoration: underline;
}
.about .thum img{
    width: 1.333333rem;
    margin-right: .533333rem;
}
.about .thum{
    margin-top: .8rem;
    text-align: center;
}