.about .ab_contain h1{
    font-size:36px;
    margin-bottom: 40px;
}
.about .ab_contain{
    padding: 130px 18.75%;
    text-align: center;
    color:#113d5e;
    background: #f5f8fa;
}
.about .ab_contain ul {
    margin-top:60px;
    font-size: 0;
    font-size:0;
}
.about .ab_contain ul li{
    vertical-align: top;    
    background: #e9eef2;
    overflow: hidden;
    display: inline-block;
    width:48%;
}

.about .ab_contain ul li img{
   width:50%;
   height:100%;
   vertical-align: top;
}
.about .ab_contain ul li>div{
    display: inline-block;
    width:50%;
    font-size:16px;
    box-sizing: border-box;
    text-align: left;
    padding:20px 10px;
}
.about .ab_contain ul li>div h2{
    margin-bottom:25px;
}
.best ul li {
    height:276px;
    list-style: none;
}

.best .ab_contain ul{
    background: transparent;
}
.best .ab_thum {
    margin-top:60px;
}
.best .ab_thum img{
    margin-left:20px;
}
@media screen and (max-width:1440px){
    .about .ab_contain h1{
        font-size:24px;
        margin-bottom: 40px;
    }
    .about .ab_contain{
        padding: 80px 18.75%;
        text-align: center;
        color:#113d5e;
        background: #f5f8fa;
    }
    .about .ab_contain ul li>div{
        font-size:12px;
    }
    .about .ab_contain ul li>div{
       padding:20px 10px 0;
    }
    .best .ab_contain ul li{
        margin:5px;
    }
    .best ul li{
        height:240px;
    }
}