body {
    font-size:18px;
    font-family: PingFangSC-Regular, sans-serif;
  }
  *:focus{
      outline:none;
  }

 
  h1,h2{
      margin:0;
      padding:0;
  }
  header{
    padding: 0 18.75%;
    line-height:50px;
    background: #e9eef2;
  }
  .hader_h1{
    font-size:36px;
    margin-bottom: 40px;
  }
  ul{
      padding:0;
      margin:0;
      list-style: none
  }
  .f16{
      font-size:16px;
  }
  .f18{
      font-size:18px;
  }
  .f20{
      font-size: 20px;
  }
  .f24{
      font-size:24px;
  }
  .f28{
    font-size:28px;
}
.bold{
    font-family: PingFangSC-Semibold, sans-serif;
}
.thin{
    font-family: PingFangSC-Ultralight, sans-serif;
}
.banner h1{
    font-size: 80px;
    color:white;
    text-align: center;
}