.home{
    font-size: .346667rem;
    background: #0e273a;
}
.home_best{
    background: white;
    text-align: center;
}
.home_best p{
    padding:0 .32rem;

}
.home_best ul li{
    margin-top: .666667rem;
}
.home_best ul li p{
    line-height: .6rem;
}
.home_best ul li h2{
    margin-top: .266667rem;
    font-size: .426667rem;
    font-weight: bold
}
.home_best ul li img{
    width: .733333rem;
}
.home_wedo{
    color:white;
    background: #0e273a;
}
.home_wedo ul{
    padding:0 .32rem;
}
.home_wedo ul li {
    margin-top: .6rem;
    border-bottom:3px solid #f5372d
}
.home_wedo ul li h2{
    font-size: .426667rem;
    color:#f5372d;
}

.home_wedo ul li p{
    font-size:.346667rem;
}
.home_wedo ul li img{
    width:100%;
}
.home_say{
    position: relative;
    background: #f5f8fa;
}
.home_say ul{
    box-sizing: border-box;
}
.home_say ul li{
    padding:.533333rem;
    border-left: 1.066667rem solid #f5f8fa;
    border-right: 1.066667rem solid #f5f8fa;

    width: 100%;
    background: white;
    padding: .533333rem;

}
.home_say .say_user{
    margin-top: .333333rem;
}
.home_form{
    background: white;
}
.home_form .f_item{
    font-size:.346667rem;
    padding:0 .933333rem;
    margin-top: .333333rem;
    line-height:  .933333rem;
}
.home_form select{
    width: 5rem;
    height:  .933333rem;
}
*:focus{
    outline:none;
}
 .home_form input, .home_form select{
     padding:0 .133333rem;
     color:#8aa1b1;
    background: #f5f8fa;
    border:none;
}
.home_form textarea{
    width:100%;
    padding: .266667rem;
    box-sizing: border-box;
    background: #f5f8fa;
    border:none;
    height:2.666667rem;
}
.home_pinter{
    margin-top: 1.2rem;
    background: white;
}
.home_pinter p{
    padding: 0 .32rem;
}
.home .swiper-button-next, .swiper-container-rtl .swiper-button-prev{
    background-image:url('/images/sw_arrow.png');
    width: .466667rem;
    height: .8rem;
    background-size: cover;
}
.home .swiper-button-prev, .swiper-container-rtl .swiper-button-next{
    background-image:url('/images/sw_arrow.png');
    transform: rotate(180deg);
    width: .466667rem;
    height: .8rem;
    background-size: cover;

}