.review{
    font-size: .346667rem;
}
.review ul li{
    border-bottom: 1px solid #d7dee2;
    padding:1.066667rem .32rem 1.333333rem;;
}
.review ul li h2{
    font-size: .426667rem;
}
.review ul li .re_info>img{
    width: .4rem;
    vertical-align: middle;
}
.review ul li .re_address{
    padding:0 .333333rem;
    border-left:1px solid #788e9e;
    border-right:1px solid #788e9e;
    margin-left: .4rem;
    font-size: .293333rem;
    color:#788e9e;
}
.review ul li .re_time{
    margin-left: .266667rem;
    color:#788e9e;
}
.review ul li .re_content{
    overflow: hidden;
    text-overflow: ellipsis;
    height: 3.333333rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;

    -webkit-line-clamp: 5;
    line-height:   .666667rem;
}
.review .opera{
    padding: .933333rem 0;
    text-align: center;
}
.review .opera button{
    padding: .2rem 1.066667rem;
    background: transparent;
    border:1px solid #f5372d;;
    color:#f5372d;
    font-size: .426667rem;
}