.review>div{
    padding:0 18.75%
}
.review .list {
    text-align: left;
}
.review .re_user{
    vertical-align: middle;
}
.review .re_user img{
    margin-right: 10px;
    width:20px;
}
.review .list ul li .info span{
    margin-left:20px;
}
.review .list ul li{
    padding:90px 0;
    border-bottom:1px solid #d7dee2;
}
.review .list ul li>p{
    margin-top:25px;
}
.review .address,.review .time{

    padding:0 20px;
    color:#788e9e;
}
.review .address{
    border-left:1px solid #c1cad0;
    border-right:1px solid #c1cad0;
}
.review .opera{
    text-align: center;
    color:#f5372d;
    padding-bottom:90px;
    margin-top:90px;
}
.review .opera button{
    border:1px solid #f5372d;
    padding:10px 30px;

}