<div class="about h_section">
    <h1>Why Travel with<br>
            Inbound china</h1>
    <p>Inbound China is a well-established destination management company with over 20 years' experience in handling ground arrangements and touring in China.
            It's easy to see why China, with its long, fascinating history, its rich culture and spectacular landscapes, appears on so many bucket-lists. Choosing to work with Inbound China means that you have access to our huge bank of insight and specialist local knowledge. Working together we can tailor the perfect tour, package or holiday for you and your customers – we can offer you anywhere and everywhere across the length and breadth of China! We'll help you make sure every box is ticked – even our guides are handpicked to make sure that we can provided the best in the business.</p>
    <ul>
        <li>
            <span> <img src="/images/about_pic1.png" alt="">
            </span>
            <div class="about_info">
                <h2>why we are<br>
                        the best</h2>
                <p>The experienced team at Inbound China are the consummate<br> professionals when it comes to seamlessly delivering...</p>
                <i><a href="">Find Out More></a></i>
            </div>
        </li>
     <li>
            <span> <img src="/images/about_pic2.png" alt="">
            </span>
            <div class="about_info">
                <h2>why we are<br>
                        the best</h2>
                <p>The experienced team at Inbound China are the consummate<br> professionals when it comes to seamlessly delivering...</p>
                <i><a href="">Find Out More></a></i>
            </div>
        </li>
         <li>
            <span> <img src="/images/about_mobile3.png" alt="">
            </span>
            <div class="about_info">
                <h2>why we are<br>
                        the best</h2>
                <p>The experienced team at Inbound China are the consummate<br> professionals when it comes to seamlessly delivering...</p>
                <i><a href="">Find Out More></a></i>
            </div>
        </li>
         <li>
            <span> <img src="/images/about_mobile4.png" alt="">
            </span>
            <div class="about_info">
                <h2>why we are<br>
                        the best</h2>
                <p>The experienced team at Inbound China are the consummate<br> professionals when it comes to seamlessly delivering...</p>
                <i><a href="">Find Out More></a></i>
            </div>
        </li>
    </ul>        
</div>