<div class="contact">
        <div class="footer_contact h_section">
                <h1>Contact us</h1>
                <ul>
                    <li>
                        <h2>United Kingdom</h2>
                        <h3>Tel: 44 (0) 20 3595 3003</h3>
                        <h3>Email:  info@inboundchina.com</h3>
                        <h3>Opening hours:</h3>
                        <p>Mon-Fri 09:00am -17:30pm</p>
                        <p class="f26">Saturday  9:30am - 16:30pm</p>
                        <p class="f26">Sunday  9:30am - 16:30pm</p>
                    </li>
                       <li>
                        <h2>Australia</h2>
                        <h3>Tel: 44 (0) 20 3595 3003</h3>
                        <h3>Email:  info@inboundchina.com</h3>
                        <h3>Opening hours:</h3>
                        <p>Mon-Fri 09:00am -17:30pm</p>
                        <p class="f26">Saturday  9:30am - 16:30pm</p>
                        <p class="f26">Sunday  9:30am - 16:30pm</p>
                    </li>
                          <li>
                        <h2>New Zealand</h2>
                        <h3>Tel: 44 (0) 20 3595 3003</h3>
                        <h3>Email:  info@inboundchina.com</h3>
                        <h3>Opening hours:</h3>
                        <p>Mon-Fri 09:00am -17:30pm</p>
                        <p class="f26">Saturday  9:30am - 16:30pm</p>
                        <p class="f26">Sunday  9:30am - 16:30pm</p>
                    </li>
                          <li>
                        <h2>China</h2>
                        <h3>Tel: 44 (0) 20 3595 3003</h3>
                        <h3>Email:  info@inboundchina.com</h3>
                        <h3>Opening hours:</h3>
                        <p>Mon-Fri 09:00am -17:30pm</p>
                        <p class="f26">Saturday  9:30am - 16:30pm</p>
                        <p class="f26">Sunday  9:30am - 16:30pm</p>
                    </li>
                </ul>
        </div>
        <div class="con_online h_section">
            <h1>Online</h1>
            <div class="home_form">
                <form action="">
                        <div class="f_item">
                                <select name="" id="">
                                    <option value="service">Title</option>
                                </select>
                        </div>
                        <div class="f_item name">
                            <input type="text" placeholder="First name">
                        </div>
                           <div class="f_item name">
                            <input type="text" placeholder="Surname">
                        </div>
                           <div class="f_item mail">
                            <input type="email" placeholder="Email">
                        </div>
                           <div class="f_item name">
                            <input type="text" placeholder="Telephone">
                        </div>
                           <div class="f_item country">
                            <input type="text" placeholder="County">
                        </div>
                           <div class="f_item country">
                            <input type="text" placeholder="Town/City">
                        </div>
                        <h1>Prefer service (multiple choice)</h1>
                        <div class="check_item">
                            <span>
                                    <input type="checkbox">
                                    <i></i>

                            </span>
                            <label for="">Group Series</label>
                        </div>
                        <div class="check_item">
                                <span>
                                        <input type="checkbox">
                                        <i></i>

                                </span>
                            <label for="">Tailormade</label>
                        </div>
                        <div class="check_item">
                                <span>
                                        <input type="checkbox">
                                        <i></i>

                                </span>
                            <label for="">Mice</label>
                        </div>
                        <div class="check_item">
                                <span>
                                        <input type="checkbox">
                                        <i></i>

                                </span>
                            <label for="">Short Stays</label>
                        </div>
                        <div class="check_item">
                                <span>
                                        <input type="checkbox">
                                        <i></i>
                                </span>
                            <label for="">Cruise Extensions</label>
                        </div>
                        <div class="check_item">
                                <span>
                                        <input type="checkbox">
                                        <i></i>

                                </span>
                            <label for="">Hotels, Cars, Fligts, Trains, Cruises</label>
                        </div>
                        <div class="check_item">
                                <span>
                                        <input type="checkbox">
                                        <i></i>

                                </span>
                            <label for="">Others</label>
                        </div>
                        <p>What prompted you to get in touch with us today?</p>
                        <div class="f_item country answer">
                                <input type="text" placeholder="E.g.recommended, Google, email, Sunday Times">
                            </div>
                                 <p>Any other comments or requests?</p>
                        <div class="f_item country answer">
                                <input type="text" placeholder="">
                            </div>
                            <div class="check_item last_check">
                                    <span>
                                            <input type="checkbox">
                                            <i></i>
                                    </span>
                                <label for="">
                                        Tick here to receive our newsletter
                                    <br>If you are already signed up, your preferences
                                        will remain the same. You can unsubscribe at
                                        any time.</label>
                            </div>
                            <div class="opera">
                                <input type="submit" value="SUBMIT">
                            </div>
                </form>
            </div>
        </div>
</div>