<div class="review">
    <ul>
        <li>
            <h2>TRIP RATING <img src="/images/icon_start.png" alt=""></h2>
            <p class="re_info">
                <img src="/images/icon_user.png" alt="">
                Agatha Bridget
                <span class="re_address">Australia</span>
                <span class="re_time">Tour Date: 11/6/2017</span>
                <p class="re_content">
                        “Inbound China is a well-established destination management company with over 20 years' experience in handling ground arrangements and touring in China. Inbound China is a well-established destination management company with over 20 years' experience in handling ground arrangements and touring in China.Inbound China is a well-established destination management company with over 20 years' experience in handling ground arrangements and touring in China.
                </p>
            </p>
        </li>
         <li>
            <h2>TRIP RATING <img src="/images/icon_start.png" alt=""></h2>
            <p class="re_info">
                <img src="/images/icon_user.png" alt="">
                Agatha Bridget
                <span class="re_address">Australia</span>
                <span class="re_time">Tour Date: 11/6/2017</span>
                <p class="re_content">
                        “Inbound China is a well-established destination management company with over 20 years' experience in handling ground arrangements and touring in China. Inbound China is a well-established destination management company with over 20 years' experience in handling ground arrangements and touring in China.Inbound China is a well-established destination management company with over 20 years' experience in handling ground arrangements and touring in China.
                </p>
            </p>
        </li>
         <li>
            <h2>TRIP RATING <img src="/images/icon_start.png" alt=""></h2>
            <p class="re_info">
                <img src="/images/icon_user.png" alt="">
                Agatha Bridget
                <span class="re_address">Australia</span>
                <span class="re_time">Tour Date: 11/6/2017</span>
                <p class="re_content">
                        “Inbound China is a well-established destination management company with over 20 years' experience in handling ground arrangements and touring in China. Inbound China is a well-established destination management company with over 20 years' experience in handling ground arrangements and touring in China.Inbound China is a well-established destination management company with over 20 years' experience in handling ground arrangements and touring in China.
                </p>
            </p>
        </li>
         <li>
            <h2>TRIP RATING <img src="/images/icon_start.png" alt=""></h2>
            <p class="re_info">
                <img src="/images/icon_user.png" alt="">
                Agatha Bridget
                <span class="re_address">Australia</span>
                <span class="re_time">Tour Date: 11/6/2017</span>
                <p class="re_content">
                        “Inbound China is a well-established destination management company with over 20 years' experience in handling ground arrangements and touring in China. Inbound China is a well-established destination management company with over 20 years' experience in handling ground arrangements and touring in China.Inbound China is a well-established destination management company with over 20 years' experience in handling ground arrangements and touring in China.
                </p>
            </p>
        </li>
    </ul>
    <div class="opera">
        <button>Find out more</button>
    </div>
</div>