<div class="service h_section">
    <h1>what we can do</h1>
    <p>Inbound China is a well-established destination
            management company with over 20 years' experience in
            handling ground arrangements and touring in China. It's
            easy to see why China, with its long, fascinating history.</p>
    <ul>
        <li>
            <h2>Group Series</h2>
            <img src="/images/s1.png" alt="">
            <p>At Inbound China, we pride ourselves on our extensive range of group tours. It is these, combined with our knowledge and experience in the region that has allowed us to work with many established tour operators in the US, UK and Europe.</p>
            <p class="opera">
                    <a href="">Find out more</a>

            </p>
        </li>
         <li>
            <h2>Tailormade</h2>
            <img src="/images/s2.png" alt="">
            <p>At Inbound China, we pride ourselves on our extensive range of group tours. It is these, combined with our knowledge and experience in the region that has allowed us to work with many established tour operators in the US, UK and Europe.</p>
            <p class="opera">
                    <a href="">Find out more</a>

            </p>
        </li>
         <li>
            <h2>MICE</h2>
            <img src="/images/s3.png" alt="">
            <p>At Inbound China, we pride ourselves on our extensive range of group tours. It is these, combined with our knowledge and experience in the region that has allowed us to work with many established tour operators in the US, UK and Europe.</p>
            <p class="opera">
                    <a href="">Find out more</a>

            </p>
        </li>
         <li>
            <h2>Short Stays</h2>
            <img src="/images/s4.png" alt="">
            <p>At Inbound China, we pride ourselves on our extensive range of group tours. It is these, combined with our knowledge and experience in the region that has allowed us to work with many established tour operators in the US, UK and Europe.</p>
            <p class="opera">
                    <a href="">Find out more</a>

            </p>
        </li>
         <li>
            <h2>Cruise Extensions                </h2>
            <img src="/images/s5.png" alt="">
            <p>At Inbound China, we pride ourselves on our extensive range of group tours. It is these, combined with our knowledge and experience in the region that has allowed us to work with many established tour operators in the US, UK and Europe.</p>
            <p class="opera">
                    <a href="">Find out more</a>

            </p>
        </li>
         <li>
            <h2>Hotels & Cars<br>Flights & Trains & Cruises</h2>
            <img src="/images/s6.png" alt="">
            <p>At Inbound China, we pride ourselves on our extensive range of group tours. It is these, combined with our knowledge and experience in the region that has allowed us to work with many established tour operators in the US, UK and Europe.</p>
            <p class="opera">
                    <a href="">Find out more</a>

            </p>
        </li>
    </ul>
</div>