<div class="about best">
        <header  class="hidden-xs">Home/About</header>
        <div class="ab_contain">
            <h1 class="bold">Why we are the best</h1>
            <p>Inbound China is a well-established destination management
                    company with over 20 years' experience in handling ground arrangements and touring in China. It's easy to see why China,
                    with its long, fascinating history.
            </p>
            <ul class="container-fluid">
               
                <li class="col-lg-6">
                <div>
                    <img src="/images/best1.png" alt="">
                    <div class="info">
                    <h2 class="bold">Profitability</h2>
                    <p>We provide you China Travel programmes at competitive price to ensure greatest profit of your business. 
                        </p>
                          </div>
                </div>
                </li>
            
                <li class="col-lg-6">
                                <div>
                        <img src="/images/best2.png" alt="">
    
                        <div class="info">
                                <h2 class="bold">Overseas branches</h2>
                                <p>Our branches in London, Sydney and Auckland will make our communication easily with no time difference.
                                    </p>
                            </div>
                            </div>
                </li>
                <li class="col-lg-6">
                                <div>
                        <img src="/images/best3.png" alt="">
                        <div class="info">
                                <h2 class="bold">Professional
                                        travel services</h2>
                                <p>From experienced trip advisors to guides and drivers, all of them are knowledgeable and professional to ensure the enjoyment, safety and wellbeing of your customers.
                                    </p>
                            </div>
                            </div>
    
                </li>
                <li class="col-lg-6">
                                <div>
                        <img src="/images/best4.png" alt="">

                        <div class="info">
                                <h2 class="bold">Personalized
                                        Approach</h2>
                                <p>We develop China travel programmes for the ultimate success and profit of your business.</p>
                            </div>
                            </div>
                </li>
               
            </ul>
        </div>
    </div>