<div class="about history">
        <header class="hidden-xs"><a href="/">Home</a> / <a href="/about">About Us</a> / <i>Our History</i></header>
    <div class="ab_contain">
            <h1 class="bold">Why we are the best</h1>
            <p>Inbound China is a well-established destination management<br>
                    company with over 20 years' experience in handling ground arrangements and touring in China. It's easy to see why China,<br>
                    with its long, fascinating history.</p>
                    <div class="step">
                            <ul>
                                <li>
                                    <i>1998</i>
                                    <h2 class="bold">Inbound China</h2>
                                    <p>The growth and success of the business have been propelled by the founder, Wendy Wu herself. Wendy was born in Tibet and grew up in China. After completing her studies, she decided to go to Australia where she began working for American Express, sending her very first group tour to China in 1998. Realising that her expertise and business acumen combined with a relatively.</p>
                                </li>
                                 <li>
                                    <i>2000</i>
                                    <div class="step_info">
                                    <h2 class="bold">Inbound China is the UK’s</h2>
                                    <p>The growth and success of the business have been propelled by the founder, Wendy Wu herself. Wendy was born in Tibet and grew up in China. After completing her studies, she decided to go to Australia where she began working for American Express, sending her very first group tour to China in 1998. Realising that her expertise and business acumen combined with a relatively.</p>
                                    </div>
                                    <div class="thumb-one">
                                    <img src="/images/h_1.png" alt="">
                                    </div>
                                </li>
                                 <li>
                                        <i>2003</i>
                                    <h2 class="bold">Inbound China</h2>
                                    <p>The growth and success of the business have been propelled by the founder, Wendy Wu herself. Wendy was born in Tibet and grew up in China. </p>
                                </li>
                                  <li>
                                        <i>2005</i>

                                    <h2 class="bold">Inbound China</h2>
                                    <p>The growth and success of the business have been propelled by the founder, Wendy Wu herself. Wendy was born in Tibet and grew up in China. After completing her studies, she decided to go to Australia where she began working for American Express.</p>
                                </li>
                                <li>
                                        <i>2008</i>

                                    <div class="step_info">
                                            <h2 class="bold">Inbound China</h2>
                                            <p>The growth and success of the business have been propelled by the founder, Wendy Wu herself. Wendy was born in Tibet and grew up in China. After completing her studies, she decided to go to Australia where she began working for American Express.</p>
                                    </div>
                                    <div class="thumb-two">
                                            <img src="/images/h_2.png" alt="">
                                            <img src="/images/h_3.png" alt="">
                                    </div>
                                </li>
                                <li>
                                    <i>2012</i>

                                        <h2 class="bold">Inbound China</h2>
                                        <p>The growth and success of the business have been propelled by the founder, Wendy Wu herself. Wendy was born in Tibet and grew up in China. After completing her studies, she decided to go to Australia where she began working for American Express, sending her very first group tour to China in 1998. Realising that her expertise and business acumen combined with a relatively. Wendy Wu herself. Wendy was born in Tibet and grew up in China. After completing her studies, she decided to go to Australia where she began working for American Express, sending her very first group tour to China in 1998. Realising that her expertise and business acumen combined with a relatively.</p>
                                        <p>The growth and success of the business have been propelled by the founder, Wendy Wu herself. Wendy was born in Tibet and grew up in China. After completing her studies, she decided to go to Australia where she began working for American Express, sending her very first group tour to China in 1998. Realising that her expertise and business acumen combined with a relatively. Wendy Wu herself. Wendy was born in Tibet and grew up in China. After completing her studies, she decided to go to Australia where she began working for American Express, sending her very first group tour to China in 1998. Realising that her expertise and business acumen combined with a relatively.</p>
                                    </li>
                                       <li>
                                            <i>2015</i>

                                        <h2 class="bold">Inbound China is the UK’s</h2>
                                        <p>The growth and success of the business have been propelled by the founder, Wendy Wu herself. Wendy was born in Tibet and grew up in China. After completing her studies, she decided to go to Australia where she began working for American Express.Wendy Wu herself. Wendy was born in Tibet and grew up in China. After completing her studies, she decided to go to Australia where she began working for American Express, sending her very first group tour to China in 1998. Realising that her expertise and business acumen combined with a relatively.</p>
                                    </li>
                                    <li>
                                            <i>2017</i>

                                            <h2 class="bold">Inbound China is the UK’s</h2>
                                            <p>The growth and success of the business have been propelled by the founder, Wendy Wu herself. Wendy was born in Tibet and grew up in China. After completing her studies, she decided to go to Australia where she began working for American Express, sending her very first group tour to China in 1998. Realising that her expertise and business acumen combined with a relatively.</p>
                                        </li>
                                        <li class="now">
                                                <i>NOW</i>
    
                                            </li>
                            </ul>
                        </div>
    </div>
   
</div>