
 <div class="about best ab_ibc">
    <header class="hidden-xs"><a href="/">Home</a> / <a href="/about">About Us</a> / <i>Journey</i></header>

        <div class="ab_contain">
            <h1 class="bold">HOW WE CREATE YOUR JOURNEY</h1>
           <p><img src="/images/duigou.png" alt="">Inbound China is a well-established destination management company with
            <br><img src="/images/duigou.png" alt="">over 20 years' experience in handling ground arrangements and touring in China. It's easy to see why China, with its long,
            <br><img src="/images/duigou.png" alt="">fascinating history, its rich culture and spectacular landscapes, appears on so many bucket-lists. </p>
            <div class="ibc_info">
                <p> 
                    <img src="/images/duigou.png" alt="">
                    Provide 1-1 with a tour expert for all your China Travel needs 
                    <br><img src="/images/duigou.png" alt="">Pick the destinations, activities, restaurants and hotels as you prefer
                    <br><img src="/images/duigou.png" alt="">Professional & knowledgeable& responsible national guides & local guides
                    <br><img src="/images/duigou.png" alt="">Licensed & experienced drivers and air-conditioned cars
                    </p>
                <p>
                    <img src="/images/duigou.png" alt="">Birthday cake and gifts 
                    <br><img src="/images/duigou.png" alt="">24-hour available emergency call 
                    <br><img src="/images/duigou.png" alt="">Quick response and action when facing urgent matters</p>
            </div>
        </div>
        <div class="ibc">
            <img src="/images/111_02.png" alt="">
        </div>
    </div>

  
</html>