
 <div class="about best ab_ibc">
    <header class="hidden-xs"><a href="/">Home</a> / <a href="/about">About Us</a> / <i>Journey</i></header>

        <div class="ab_contain">
            <h1 class="bold">HOW WE CREATE YOUR JOURNEY</h1>
           <p>Inbound China is a well-established destination management company with
            <br>over 20 years' experience in handling ground arrangements and touring in China. It's easy to see why China, with its long,
            <br>fascinating history, its rich culture and spectacular landscapes, appears on so many bucket-lists. </p>
            <div class="ibc_info">
                <p>Provide 1-1 with a tour expert for all your China Travel needs 
                    <br>Pick the destinations, activities, restaurants and hotels as you prefer
                    <br>Professional & knowledgeable& responsible national guides & local guides
                    <br>Licensed & experienced drivers and air-conditioned cars
                    </p>
                <p>Birthday cake and gifts 
                    <br>24-hour available emergency call 
                    <br>Quick response and action when facing urgent matters</p>
            </div>
        </div>
        <div class="ibc">
            <img src="/images/111_02.png" alt="">
        </div>
    </div>

  
</html>