<div class="about best">
        <header class="hidden-xs">Home/About</header>
        <div class="ab_contain">
            <h1 class="bold">Our Awords</h1>
            <p>IInbound China is a well-established destination management company
                    with over 20 years' experience in handling ground arrangements and touring in China.It's easy to see why China, with its long,
                    fascinating history, its rich culture and spectacular landscapes,
                    appears on so many bucket-lists. Choosing to work with Inbound China means that you have access to our huge bank of insight and specialist local knowledge.
                    Working together we can tailor the perfect tour, package or holiday for you and your customers – we can offer you anywhere!
            </p>
            <p class="ab_thum">
                <img src="/images/index_cup.png" alt="">
                <img src="/images/index_grade.png" alt="">

            </p>
          
        </div>
    </div>