<div class="footer">
    <div class="foot_form">
        <div class="info">
            <h1>GET INSPIRED</h1>
            <p class="f18">Immerse yourself in our latest travel
                    stories and access exclusive offers</p>
        </div>
        <div class="info_form f16">
            <form action="">
                <div class="foot_label">
                        <input id="name" name="name" type="text" placeholder="Name">
                </div>
                <div class="foot_label">
                        <input id="name" name="email" placeholder="Email Address" type="text" placeholder="Name">
                </div>
                <div class="foot_label foot_label_submit">
                        <input type="submit" value="submit">

                    </div>
            </form>
        </div>
    </div>
    <div class="contact">
        <h2>Contact us</h2>
        <ul>
            <li>United Kingdom</li>
            <li>Opening hours:
                    Mon-Fri 09:00-17:30</li>
            <li>+44 (0) 20 3595 3003
                    info@inboundchina.com</li>

        </ul>
        <ul>
                <li>United Kingdom</li>
                <li>Opening hours:
                        Mon-Fri 09:00-17:30</li>
                <li>+44 (0) 20 3595 3003
                        info@inboundchina.com</li>

        </ul>
        <ul>
                <li>United Kingdom</li>
                <li>Opening hours:
                        Mon-Fri 09:00-17:30</li>
                <li>+44 (0) 20 3595 3003
                        info@inboundchina.com</li>

        </ul>
        <ul>
                <li>United Kingdom</li>
                <li>Opening hours:
                        Mon-Fri 09:00-17:30</li>
                <li>+44 (0) 20 3595 3003
                        info@inboundchina.com</li>
   
        </ul>      
    </div>
</div>