<div class="awards home_form">
    <div class="awards_info hidden-xs">
        <h1 class="bold">OUR AWARDS</h1>
        <p>Throughout years of operation, Inbound China has provided travel services for tens of thousands of travelers. Our endeavor to provide customers satisfied service and travel innovation has earned us several travel industry awards.
            </p>
        <div class="award_img">
            <img src="/images/index_cup.png" alt="">
            <img src="/images/index_grade.png" alt="">
        </div>
    </div>
    <div class="awards_form">
            <h1 class="hidden-xs">GET IN TOUCH WITH OUR EXPERT</h1>
            <h1 class="visible-xs">Get In Touch With Our Expert</h1>
        <form action="">
                <div class="form_item form_one">
                        <select name="Service">
                            <option value="">Service</option>
                            <option value="Group Series">Group Series</option>
                            <option value="Tailormade">Tailormade</option>
                            <option value="MICE">MICE</option>
                            <option value="Short Stays">Short Stays</option>
                            <option value="Cruise Extensions">Cruise Extensions</option>
                            <option value="Hotels & Cars
                            Flights & Trains & Cruises">Hotels & Cars
                                Flights & Trains & Cruises</option>
                        </select>
                    </div>
                    <div class="form_item form_sel">
                        <select name="Title">
                            <option value="">Title</option>
                            <option value="Mr">Mr</option>
                            <option value="Mrs">Mrs</option>
                            <option value="Miss">Miss</option>
                            <option value="Ms">Ms</option>
                        </select>
                        <input type="text" name="FullName" placeholder="Full Name">
                    </div>
                    <div class="form_item">
                            <input type="text" name="Email" placeholder="Email">
                    </div>
         <div class="form_item">
            <input type="text" name="Country" placeholder="Country">
         </div>
         <div class="form_item">
            <textarea placeholder="Request" name="Request" cols="30" rows="10"></textarea>
        </div>
        <div class="opera">
            <input type="submit" value="SUBMIT">
        </div>
    </form>
    </div>
</div>