<div class="header">
        <ul>
            <li>
                <img src="/images/flag_1.png" alt="">
                <span>+44 (0) 20 3595 3003</span>
            </li>
            <li>
                <img src="/images/flag_2.png" alt="">
                <span>+44 (0) 20 3595 3003</span>
            </li>
            <li>
                <img src="/images/flag_3.png" alt="">
                <span>+44 (0) 20 3595 3003</span>
            </li>
            <li>
                <img src="/images/flag_4.png" alt="">
                <span>+44 (0) 20 3595 3003</span>
            </li>
        </ul>
    </div>