<div class="nav hidden-xs">
    <img src="/images/logo.png" alt="">
    <ul class="f18">
        <li class="<%- name=='home'?'active':'' %> ">
            <a href="/">Home</a>
        </li>
        <li class="<%- name=='about'?'active':'' %> ">
            <a href="/about">About</a>
        </li>
        <li class="<%- name=='service'?'active':'' %> ">
            <a href="/service">Our Services</a>
        </li>
        <li class="<%- name=='review'?'active':'' %> ">
            <a href="/review">Review</a></li>
        <li class="nav_right"><a href="/contact" class="f18">Contact Us</a></li>

    </ul>
</div>
<div class="nav_bar visible-xs">
    <span class="logo">
            <img class="logo" src="/images/logo.png" alt="">
    </span>
    <span class="menu">
            <img class="logo" src="/images/menu.png" alt="">
    </span>
</div>
