<div class="nav">
    <img src="/images/logo.png" alt="">
    <ul class="f18">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/service">Our Services</a>
        </li>
        <li>
            <a href="/review">Review</a></li>
        <li class="nav_right"><button class="btn btn-danger f18">contact us</button></li>

    </ul>
</div>