<div class="awards">
        <div class="awards_info">
            <div><img src="/images/male.png"/></div>
            <h1 class="bold">
                Yasmine Heidy
            </h1>
            <h2>Group Expert</h2>
          <p>
                At Inbound China, we pride ourselves on our extensive range of group tours. It is these, combined with our knowledge and experience in the region that has allowed us to work with many established tour operators in the US, UK and Europe.
          </p>
          <div class="awards_contact">
                <p>Tel: +44 (0) 20 3595 3003</p>
                <p>Email: info@inboundchina.com</p>
          </div>
         
        </div>
<div class="awards_form">
        <form action="">
        
               <p>Our Group Expert Yasmine Heidy </p>
               <h1>
                Our Group Expert Yasmine Heidy </h1>
        <div class="form_item">
            <select name="Service">
                
                <option value='' disabled selected>Service</option>
                            <option value="Group Series">Group Series</option>
                            <option value="Tailormade">Tailormade</option>
                            <option value="MICE">MICE</option>
                            <option value="Short Stays">Short Stays</option>
                            <option value="Cruise Extensions">Cruise Extensions</option>
                            <option value="Hotels & Cars
                            Flights & Trains & Cruises">Hotels & Cars
                                Flights & Trains & Cruises</option>
            </select>
        </div>
        <div class="form_item form_sel">
            <select name="Title">
                <option value='' disabled selected>Title</option>
                <option value="Mr">Mr</option>
                <option value="Mrs">Mrs</option>
                <option value="Miss">Miss</option>
                <option value="Ms">Ms</option>
            </select>
            <input type="text" name="FullName" placeholder="Full Name">
        </div>
        <div class="form_item">
            <input type="text" name="Email" placeholder="Email">
         </div>
         <div class="form_item">
            <input type="text" name="Country" placeholder="Country">
         </div>
         <div class="form_item">
            <textarea placeholder="Request" name="Request" cols="30" rows="10"></textarea>
        </div>
        <div class="opera">
            <input type="submit" value="SUBMIT">
        </div>
    </form>
    </div>
</div>
