<div class="footer h_section">
    <h1>GET INSPIRED</h1>
    <p>Immerse yourself in our latest travel </p>
    <p>stories and access exclusive offers</p>
    <div class="footer_form">
        <form action="">
            <div class="foot_item">
                <input type="text" placeholder="Name">
            </div>
             <div class="foot_item">
                <input type="text" placeholder="Email Address">
            </div>
            <div class="opera">
                <input type="submit" value="SUBMIT">
            </div>
        </form>
    </div>
</div>
<div class="footer_contact h_section">
        <h1>Contact us</h1>
        <ul>
            <li>
                <h2>United Kingdom</h2>
                <p>Opening hours:</p>
                <p>Mon-Fri 09:00-17:30</p>
                <p class="f26">+44 (0) 20 3595 3003</p>
                <p class="f26">info@inboundchina.com</p>
            </li>
              <li>
                <h2>Australia</h2>
                <p>Opening hours:</p>
                <p>Mon-Fri 09:00-17:30</p>
                <p class="f26">+44 (0) 20 3595 3003</p>
                <p class="f26">info@inboundchina.com</p>
            </li>
              <li>
                <h2>New Zealand</h2>
                <p>Opening hours:</p>
                <p>Mon-Fri 09:00-17:30</p>
                <p class="f26">+44 (0) 20 3595 3003</p>
                <p class="f26">info@inboundchina.com</p>
            </li>
              <li>
                <h2>CHINA</h2>
                <p>Opening hours:</p>
                <p>Mon-Fri 09:00-17:30</p>
                <p class="f26">+44 (0) 20 3595 3003</p>
                <p class="f26">info@inboundchina.com</p>
            </li>
        </ul>
</div>