<div class="header">
    <div class="top">
            <img src="/images/flag_2.png" alt="">

            <select name="" id="">
                    <option >
                        +44 (0) 20 3595 3003
                    </option>
            </select>
    </div>
 
    <% include nav.ejs %>
    <div class="nav_list">
        <ul>
            <li>
                <a href="/">
                        Home
                </a>
                </li>
            <li>
                    <a href="/about">
                            About Us
                    </a></li>
            <li>
                <a href="/service">Our Services</a>
            </li>
            <li>
                <a href="/review">Review</a>
            </li>
            <li>
                <a href="/contact">
                        Contact Us
                </a>
            </li>

        </ul>
    </div>
</div>