<div class="nav_bar">
    <span class="logo">
            <img class="logo" src="/images/logo.png" alt="">
    </span>
    <span class="menu">
            <img class="logo" src="/images/menu.png" alt="">
    </span>
</div>
