<div class="group h_section">
    <h1>Group Series</h1>
    <p>At Inbound China, we pride ourselves on our extensive range of group tours. It is these, combined with our knowledge and experience in the region that has allowed us to work with many established tour operators in the US, UK and Europe.
            We have a full portfolio of pre-packaged group tours that range from the classic Beijing-Xian-Shanghai route to itineraries that explore some of China's lesser known regions in depth. These tours are well-established and feature a number of benefits for you and your customers:</p>
    <div class="list_contain">
        <p>Itineraries that range from classic to off-the-
                beaten-track
        </p>
        <p>Expert, industry leading guiding</p>
        <p>3/4-star accommodation</p>
        <p>All or most meals</p>
        <p>All entrance fees</p>
        <p>Visa and visa processing</p>
        <p>All ground transportation</p>
    </div>
    <p>
            These itineraries, though, are completely flexible, and we can adapt the number of meals that are included, the level of accommodation and the number of included sightseeing excursions at your request.
    </p>
    <div class="thumb">
        <div class="thum_item">
            <img src="/images/group1.png" alt="">
        </div>
          <div class="thum_item">
            <img src="/images/group2.png" alt="">
        </div>
          <div class="thum_item">
            <img src="/images/group3.png" alt="">
        </div>
    </div>
    <div class="opera">
            <a href="">other services</a>
    </div>
    <div class="person h_section">
        <div class="contain">
        <h1>
            <img src="/images/person1.png" alt="">
        </h1>
        <h2>Yasmine Heidy</h2>
        <h3>Group Expert</h3>
        <p>At Inbound China, we pride ourselves on our extensive range of group tours. It is these, combined with our knowledge and experience in the region that has allowed us to work with many established tour operators in the US, UK and Europe.</p>
        <div class="pe_foot">
            <p>Tel: +44 (0) 20 3595 3003</p>
            <p>Email: info@inboundchina.com</p>
        </div>
    </div>
    </div>
    <div class="group_form">
    <div class="h_section home_form">
            <h1>Get In Touch With Our Expert</h1>
            <form action="">
                <div class="f_item">
                    <select name="" id="">
                        <option value="service">service</option>
                    </select>
                </div>
                <div class="f_item title">
                       <input type="text" placeholder="Title">
                </div>
                <div class="f_item name">
                        <input type="text" placeholder="Full Name">
                </div>
                <div class="f_item mail">
                        <input type="text" placeholder="Email">
                </div>
                <div class="f_item country">
                        <select name="" id="">
                                <option value="country">country</option>
                            </select>       
                </div>
                <div class="f_item content">
                    <textarea name="" id="" cols="30" rows="10" placeholder="Request"></textarea>
                </div>
                <div class="opera">
                    <input type="submit" value="SUBMIT">
                </div>
            </form>
        </div>
    </div>
</div>