<div class="group h_section hotel">
    <h1>Group Series</h1>
    <p>We have an extensive portfolio of accommodation to call on, so don't hesitate to ask us to pull out all the stops to find the most suitable inn, hostel, guesthouse, hotel or resort for you. For those travelling on business, we'll place you in the most convenient location for your professional endeavours with all the facilities, be it a smart restaurant or a conference centre, that you could need. For those travelling for pleasure, just let us know what your preferences – central location, pool, five-star- and we'll provide you with plenty of options.
        <br>
        These Featured Hotels are with some of our best partners in China. Whether you are looking for a quality luxury 5* hotel or a no fuss standard 4* hotel, at Inbound China you can expect to receive great service, value for money and quality service. Contact Inbound China today to receive your quotation. No matter what your preferences are, we have the right option for you.</p>
        <ul>
            <li>
                <img src="/images/hotel1.png" alt="">
                <h2>Hotels</h2>
                <p>These itineraries, though, are completely flexible, and we can adapt the number of meals that are included, the level of accommodation and the number of included sightseeing excursions at your request. Alternatively, come to us with a particular route, interest or specialism and we will build you a bespoke itinerary to suit your needs. Whether it's China's ancient sights.</p>
            </li>
            <li>
                <img src="/images/hotel2.png" alt="">
                <h2>Cars</h2>
                <p>These itineraries, though, are completely flexible, and we can adapt the number of meals that are included, the level of accommodation and the number of included sightseeing excursions at your request. Alternatively, come to us with a particular route, interest or specialism and we will build you a bespoke itinerary to suit your needs. Whether it's China's ancient sights.</p>
            </li>
             <li>
                <img src="/images/hotel3.png" alt="">
                <h2>Fligts</h2>
                <p>These itineraries, though, are completely flexible, and we can adapt the number of meals that are included, the level of accommodation and the number of included sightseeing excursions at your request. Alternatively, come to us with a particular route, interest or specialism and we will build you a bespoke itinerary to suit your needs. Whether it's China's ancient sights.</p>
            </li>
             <li>
                <img src="/images/hotel4.png" alt="">
                <h2>Trains</h2>
                <p>These itineraries, though, are completely flexible, and we can adapt the number of meals that are included, the level of accommodation and the number of included sightseeing excursions at your request. Alternatively, come to us with a particular route, interest or specialism and we will build you a bespoke itinerary to suit your needs. Whether it's China's ancient sights.</p>
            </li>
             <li>
                <img src="/images/hotel5.png" alt="">
                <h2>Cruises</h2>
                <p>These itineraries, though, are completely flexible, and we can adapt the number of meals that are included, the level of accommodation and the number of included sightseeing excursions at your request. Alternatively, come to us with a particular route, interest or specialism and we will build you a bespoke itinerary to suit your needs. Whether it's China's ancient sights.</p>
            </li>
        </ul>
    <div class="person h_section">
        <div class="contain">
        <h1>
            <img src="/images/person1.png" alt="">
        </h1>
        <h2>Yasmine Heidy</h2>
        <h3>Group Expert</h3>
        <p>At Inbound China, we pride ourselves on our extensive range of group tours. It is these, combined with our knowledge and experience in the region that has allowed us to work with many established tour operators in the US, UK and Europe.</p>
        <div class="pe_foot">
            <p>Tel: +44 (0) 20 3595 3003</p>
            <p>Email: info@inboundchina.com</p>
        </div>
    </div>
    </div>
    <div class="group_form">
    <div class="h_section home_form">
            <h1>Get In Touch With Our Expert</h1>
            <form action="">
                <div class="f_item">
                    <select name="" id="">
                        <option value="service">service</option>
                    </select>
                </div>
                <div class="f_item title">
                       <input type="text" placeholder="Title">
                </div>
                <div class="f_item name">
                        <input type="text" placeholder="Full Name">
                </div>
                <div class="f_item mail">
                        <input type="text" placeholder="Email">
                </div>
                <div class="f_item country">
                        <select name="" id="">
                                <option value="country">country</option>
                            </select>       
                </div>
                <div class="f_item content">
                    <textarea name="" id="" cols="30" rows="10" placeholder="Request"></textarea>
                </div>
                <div class="opera">
                    <input type="submit" value="SUBMIT">
                </div>
            </form>
        </div>
    </div>
</div>