<div class="mice h_section group">
    <h1>Group Series</h1>
    <p>China's rapid rate into a mature business centre has been happening for some time now. Those in the business world understand that their businesses simply cannot function in a fully effective way without the face-to-face meetings of the parties involved. Dealing with new cultures, foreign currency, legislation, unfamiliar language and etiquette requires a lot of time and preparation. How much easier would it be if you could bring all your China travel requirements under one roof?</p>
    <p>Inbound China specialises in all things related to MICE travel through China. Our team of experienced travel consultants use their first-hand knowledge and expertise to offer cutting edge logistical solutions.
    </p>
    <div class="thum">
        <h2>The services we offer:</h2>
        <p>International & domestic flights<br>
                Wide range of accommodation<br>
                Tailor-made & Group Itineraries<br>
                English speaking interpreters and guides<br>
                Meals including special dietary needs<br>
                Pioneering Incentives<br>
                Spouse programmes<br>
                Event Management<br>
                Educational tours including factory visits and lectures<br>
                Contact with local embassies</p>
    </div>
    <div class="mettings">
        <h1>MEETINGS</h1>
        <h2><img src="/images/mmice_pic2.png" alt=""></h2>
        <p>Your friends, your appointment, your menu , your location. It all starts with you. We want to know as much as possible from you. Who are your guests? Are they friends, colleagues or clients? Do you have something to celebrate, make a proposal, clinch a deal, or simply enjoy a special dinner? Let us know and we will organise the perfect venue to suit your requirements.</p>
        <h3>What we do for you</h3>
        <p>Inbound China offer a complete dining experience,<br>
                including ambiance, location, privacy and exclusivity.</p>
        <h3>Method</h3>
        <p>When you contact us, you get a personal account manager. He or she will discuss your wishes and all the options with you. Afterwards you will receive a detailed travel schedule, including agreed activities and their costs. When everything is agreed we send you a booking contract. When the booking contract is signed and sent back you will receive a detailed confirmation and payment schedule. You are half way to China!

            </p>
    </div>
    <div class="mettings">
            <h1>Conferences</h1>
            <h2><img src="/images/mmice_pic3.png" alt=""></h2>
            <p>Inbound China approaches business and leisure travel with a fresh and contemporary attitude. Each business is unique, so we plan activities that enhance the prestige and image of our client. Moreover we focus on timing and content of the activities as well as the location where the activity takes place. Whether it's a educational course, an incentive trip or a conference for 500 delegates, with our expertise and extensive network in China no request is too small because at Inbound China we understand the art of event management.</p>
            <h3>What Inbound China does for you?</h3>
            <p>Catering<br>
                    Location<br>
                    Rental of equipment<br>
                    Music & entertainment<br>
                    Documentation, photo and video</p>
            <h3>Locations</h3>
            <p>Beijing<br>
                    Shanghai<br>
                    Qingdao<br>
                    Dalian<br>
                    Guangzhou<br>
                    Shenzhen<br>
                    All major Chinese cities.
    
                </p>
        </div>
        <div class="opera">
            <a href="">Other services</a>
        </div>
        <div class="person h_section">
                <div class="contain">
                <h1>
                    <img src="/images/person1.png" alt="">
                </h1>
                <h2>Yasmine Heidy</h2>
                <h3>Group Expert</h3>
                <p>At Inbound China, we pride ourselves on our extensive range of group tours. It is these, combined with our knowledge and experience in the region that has allowed us to work with many established tour operators in the US, UK and Europe.</p>
                <div class="pe_foot">
                    <p>Tel: +44 (0) 20 3595 3003</p>
                    <p>Email: info@inboundchina.com</p>
                </div>
            </div>
            </div>
            <div class="group_form">
            <div class="h_section home_form">
                    <h1>Get In Touch With Our Expert</h1>
                    <form action="">
                        <div class="f_item">
                            <select name="" id="">
                                <option value="service">service</option>
                            </select>
                        </div>
                        <div class="f_item title">
                               <input type="text" placeholder="Title">
                        </div>
                        <div class="f_item name">
                                <input type="text" placeholder="Full Name">
                        </div>
                        <div class="f_item mail">
                                <input type="text" placeholder="Email">
                        </div>
                        <div class="f_item country">
                                <select name="" id="">
                                        <option value="country">country</option>
                                    </select>       
                        </div>
                        <div class="f_item content">
                            <textarea name="" id="" cols="30" rows="10" placeholder="Request"></textarea>
                        </div>
                        <div class="opera">
                            <input type="submit" value="SUBMIT">
                        </div>
                    </form>
                </div>
            </div>
</div>