<div class="group h_section">
        <h1>Short Stays</h1>
    <p>At Inbound China we provide a range of products and solutions for all of your China travel needs.
        <br>
            Be it tours for groups - special interest, education or corporate, short stays, excursions or business, we'll take care of everything, from the big stuff right down to the smallest detail.
            <br>
            Travel by coach, minibus or private car; wine and dine clients in world-class restaurants; offer guiding by local specialists; provide accessible options; host meetings and conferences for 2 to 2,000; stay in hotels that are student friendly…whatever you need, we'll be there to help you achieve it.</p>
            <div class="thumb">
                    <div class="thum_item">
                        <img src="/images/group1.png" alt="">
                    </div>
                      <div class="thum_item">
                        <img src="/images/group2.png" alt="">
                    </div>
                      <div class="thum_item">
                        <img src="/images/group3.png" alt="">
                    </div>
                </div>
                <div class="opera">
                        <a href="">other services</a>
                </div>
                <div class="person h_section">
                        <div class="contain">
                        <h1>
                            <img src="/images/person1.png" alt="">
                        </h1>
                        <h2>Yasmine Heidy</h2>
                        <h3>Group Expert</h3>
                        <p>At Inbound China, we pride ourselves on our extensive range of group tours. It is these, combined with our knowledge and experience in the region that has allowed us to work with many established tour operators in the US, UK and Europe.</p>
                        <div class="pe_foot">
                            <p>Tel: +44 (0) 20 3595 3003</p>
                            <p>Email: info@inboundchina.com</p>
                        </div>
                    </div>
                    </div>
                    <div class="group_form">
                    <div class="h_section home_form">
                            <h1>Get In Touch With Our Expert</h1>
                            <form action="">
                                <div class="f_item">
                                    <select name="" id="">
                                        <option value="service">service</option>
                                    </select>
                                </div>
                                <div class="f_item title">
                                       <input type="text" placeholder="Title">
                                </div>
                                <div class="f_item name">
                                        <input type="text" placeholder="Full Name">
                                </div>
                                <div class="f_item mail">
                                        <input type="text" placeholder="Email">
                                </div>
                                <div class="f_item country">
                                        <select name="" id="">
                                                <option value="country">country</option>
                                            </select>       
                                </div>
                                <div class="f_item content">
                                    <textarea name="" id="" cols="30" rows="10" placeholder="Request"></textarea>
                                </div>
                                <div class="opera">
                                    <input type="submit" value="SUBMIT">
                                </div>
                            </form>
                        </div>
</div>