<div class="service group">
        <header class="hidden-xs">Home/ourservice/group</header>
        <div class="se_contain h_contain">
                <h1 class="hader_h1 bold">Group Series</h1>
                <p>At Inbound China, we pride ourselves on our extensive range of group tours. It is these, combined with our knowledge and experience in the region that has allowed us to work with many established tour operators in the US, UK and Europe.

                        We have a full portfolio of pre-packaged group tours that range from the classic Beijing-Xian-Shanghai route to itineraries that explore some of China's lesser known regions in depth. These tours are well-established and feature a number of benefits for you and your customers:
                </p>
                <div class="section">
                    <p>Itineraries that range from classic to off-the-beaten-track</p>
                    <p>Expert, industry leading guiding</p>
                    <p> 3/4-star accommodation</p>
                    <p>All or most meals</p>
                    <p>All entrance fees </p>
                    <p>Visa and visa processing</p>
                    <p>All ground transportation</p>
                </div>
                <p>These itineraries, though, are completely flexible, and we can adapt the number of meals that are included, the level of accommodation and the number of included sightseeing excursions at your request.

                        Alternatively, come to us with a particular route, interest or specialism and we will build you a bespoke itinerary to suit your needs. Whether it's China's ancient sights, natural wonders, classical gardens, Sichuan cuisine or modern architecture, we'll be able to design you something that will delight and impress your customers.</p>
                        <div class="thumb">
                                <div class="thum_item">
                                    <img src="/images/group1.png" alt="">
                                </div>
                                <div class="thum_item">
                                        <img src="/images/group2.png" alt="">

                                    </div>
                                <div class="thum_item">
                                        <img src="/images/group3.png" alt="">

                                </div>
                            </div>
                            <div class="opera">
                                <a href="">OTHER SERVICES</a>
                            </div>
            </div>
          
        <% include ../../layout/service_form.ejs %>
</div>