<div class="service hotel">
        <header class="hidden-xs"><a href="/">Home</a>  /  <a href="/service">Our Services</a>  /  <i>Hotels& Cars   Fligts&Trains&Cruises</i></header>
        <div class=" h_contain">
                <h1 class="hader_h1 bold">Hotels& Cars   Fligts&Trains&Cruises</h1>
                <p >
                        We have an extensive portfolio of accommodation to call on, so don't hesitate to ask us to pull out all the stops to find the most suitable inn, hostel, guesthouse, hotel or resort for you. For those travelling on business, we'll place you in the most convenient location for your professional endeavours with all the facilities, be it a smart restaurant or a conference centre, that you could need. For those travelling for pleasure, just let us know what your preferences – central location, pool, five-star- and we'll provide you with plenty of options.

                        These Featured Hotels are with some of our best partners in China. Whether you are looking for a quality luxury 5* hotel or a no fuss standard 4* hotel, at Inbound China you can expect to receive great service, value for money and quality service. Contact Inbound China today to receive your quotation. No matter what your preferences are, we have the right option for you.
                </p>
                <div class="list">
                    <ul>
                        <li>
                            <a href="">
                            <img src="/images/hotel1.png" alt="">
                            <div class="info">
                                <h1>Hotels</h1>
                                <p>These itineraries, though, are completely flexible, and we can adapt the number of meals that are included, the level of accommodation and the number of included sightseeing excursions at your request. Alternatively, come to us with a particular route, interest or specialism and we will build you a bespoke itinerary to suit your needs. Whether it's China's ancient sights.</p>
                            </div>
                        </a>
                        </li>
                         <li>
                                <a href="">

                            <img src="/images/hotel2.png" alt="">
                            <div class="info">
                                <h1>Cars</h1>
                                <p>These itineraries, though, are completely flexible, and we can adapt the number of meals that are included, the level of accommodation and the number of included sightseeing excursions at your request. Alternatively, come to us with a particular route, interest or specialism and we will build you a bespoke itinerary to suit your needs. Whether it's China's ancient sights.</p>
                            </div>
                            </a>
                        </li>
                          <li>
                                <a href="">

                            <img src="/images/hotel3.png" alt="">
                            <div class="info">
                                <h1>Fligts</h1>
                                <p>These itineraries, though, are completely flexible, and we can adapt the number of meals that are included, the level of accommodation and the number of included sightseeing excursions at your request. Alternatively, come to us with a particular route, interest or specialism and we will build you a bespoke itinerary to suit your needs. Whether it's China's ancient sights.</p>
                            </div>
                            </a>
                        </li>
                      <li>
                            <a href="">

                            <img src="/images/hotel4.png" alt="">
                            <div class="info">
                                <h1>Trains</h1>
                                <p>These itineraries, though, are completely flexible, and we can adapt the number of meals that are included, the level of accommodation and the number of included sightseeing excursions at your request. Alternatively, come to us with a particular route, interest or specialism and we will build you a bespoke itinerary to suit your needs. Whether it's China's ancient sights.</p>
                            </div>
                            </a>
                        </li>
                      <li>
                            <a href="">

                            <img src="/images/hotel5.png" alt="">
                            <div class="info">
                                <h1>Cruises</h1>
                                <p>These itineraries, though, are completely flexible, and we can adapt the number of meals that are included, the level of accommodation and the number of included sightseeing excursions at your request. Alternatively, come to us with a particular route, interest or specialism and we will build you a bespoke itinerary to suit your needs. Whether it's China's ancient sights.</p>
                            </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="opera">
                    <a href="">OTHER SERVICES</a>
                </div>
        </div>
</div>