<div class="service mice">
    <header  class="hidden-xs">Home/toe/hotel</header>
    <div class=" h_contain">
            <h1 class="hader_h1 bold">Mice</h1>
            <p>China's rapid rate into a mature business centre has been happening for some time now. Those in the business world understand that their businesses simply cannot function in a fully effective way without the face-to-face meetings of the parties involved. Dealing with new cultures, foreign currency, legislation, unfamiliar language and etiquette requires a lot of time and preparation. How much easier would it be if you could bring all your China travel requirements under one roof?</p>
            <p>Inbound China specialises in all things related to MICE travel through China. Our team of experienced travel consultants use their first-hand knowledge and expertise to offer cutting edge logistical solutions.
            </p>
            <div class="thumb">
                <img src="/images/mice_pic1.png" alt="">
            </div>
            <div class="thumb_info">
                <h1 class="visible-xs">Meetings</h1>
                <img src="/images/mice_pic2.png" alt="">
                <div class="info">
                    <h1 class="hidden-xs">Meetings</h1>
                    <p>Your friends, your appointment, your menu , your location. It all starts with you. We want to know as much as possible from you. Who are your guests? Are they friends, colleagues or clients? Do you have something to celebrate, make a proposal, clinch a deal, or simply enjoy a special dinner? Let us know and we will organise the perfect venue to suit your requirements.</p>
                    <h1>What we do for you</h1>
                    <p>Inbound China offer a complete dining experience, including ambiance,
                        location, privacy and exclusivity.</p>
                    <h1>Method</h1>
                    <p>When you contact us, you get a personal account manager. He or she will discuss your wishes and all the options with you. Afterwards you will receive a detailed travel schedule, including agreed activities and their costs. When everything is agreed we send you a booking contract. When the booking contract is signed and sent back you will receive a detailed confirmation and payment schedule. You are half way to China!
                    </p>
                </div>
            </div>
            <div class="thumb_info">
                    <div class="info left">
                            <img class='visible-xs' src="/images/mice_pic2.png" alt="">

                            <h1 class="title">Conferences</h1>
                            <p>Inbound China approaches business and leisure travel with a fresh and contemporary attitude. Each business is unique, so we plan activities that enhance the prestige and image of our client. Moreover we focus on timing and content of the activities as well as the location where the activity takes place. Whether it's a educational course, an incentive trip or a conference for 500 delegates, with our expertise and extensive network in China no request is too small because at Inbound China we understand the art of event management.</p>
                            <h2>What Inbound China does for you?</h2>
                            <ol>
                                <li>Catering</li>
                                <li>Location</li>
                                <li>Rental of equipment</li>
                                <li>Music & entertainment</li>
                                <li>Documentation, photo and video</li>
                            </ol>
                            <h2>Locations</h2>
                            <ol>
                                    <li>Beijing</li>
                                    <li>Shanghai</li>
                                    <li>Qingdao</li>
                                    <li>Dalian</li>
                                    <li>Guangzhou </li>
                                    <li>Shenzhen </li>
                                    <li>All major Chinese cities.</li>
                                </ol>
                        </div>
                <img class="hidden-xs" src="/images/mice_pic2.png" alt="">
              
            </div>
    </div>
</div>