<div class="service group">
        <header><a href="/">Home</a>  /  <a href="/service">Our Services</a>  /  <i>Short Stays</i></header>
        <div class="se_contain h_contain">
                <h1 class="hader_h1 bold">Short Stays</h1>
                <p>At Inbound China we provide a range of products and solutions for all of your China travel needs.

                        Be it tours for groups - special interest, education or corporate, short stays, excursions or business, we'll take care of everything, from the big stuff right down to the smallest detail.
                        
                        Travel by coach, minibus or private car; wine and dine clients in world-class restaurants; offer guiding by local specialists; provide accessible options; host meetings and conferences for 2 to 2,000; stay in hotels that are student friendly…whatever you need, we'll be there to help you achieve it.
                </p>
            
             
                        <div class="thumb">
                                <div class="thum_item">
                                    <img src="/images/group1.png" alt="">
                                </div>
                                <div class="thum_item">
                                        <img src="/images/group2.png" alt="">

                                    </div>
                                <div class="thum_item">
                                        <img src="/images/group3.png" alt="">

                                </div>
                            </div>
                            <div class="opera">
                                <a href="">OTHER SERVICES</a>
                            </div>
            </div>
          
        <% include ../../layout/service_form.ejs %>
</div>