<div class="service group">
    <header class="hidden-xs"><a href="/">Home</a>  /  <a href="/service">Our Services</a>  /  <i>Tailormade</i></header>
    <div class="se_contain h_contain">
            <h1 class="hader_h1 bold">Tailormade</h1>
            <p>A group tour with Inbound China gives travellers the chance to see all the biggest and best sights of a country whilst also travelling in the company of like-minded people.
                <br>
                <br>But not everyone likes to stick to the trail. For those people, our tailormade sevice is the answer!
                <br>
                <br> Perfect for those looking for unique and flexible itineraries, a tailormade tour gives you the freedom to do, go, see and experience whatever you want but with none of the stress of doing it yourself. Inbound China gives you the opportunity to create that holiday of a lifetime that you've always dreamed of.</p>
        
         
                    <div class="thumb">
                            <div class="thum_item">
                                <img src="/images/group1.png" alt="">
                            </div>
                            <div class="thum_item">
                                    <img src="/images/group2.png" alt="">

                                </div>
                            <div class="thum_item">
                                    <img src="/images/group3.png" alt="">

                            </div>
                        </div>
                        <div class="opera">
                            <a href="">OTHER SERVICES</a>
                        </div>
        </div>
      
    <% include ../../layout/service_form.ejs %>
</div>