<div class="about">
    <header>Home/About</header>
    <div class="ab_contain">
        <h1 class="bold">Why Travel with Inbound china</h1>
        <p>Inbound China is a well-established destination management company
            with over 20 years' experience in handling ground arrangements and touring in China.It's easy to see why China, with its long,
            fascinating history, its rich culture and spectacular landscapes,
            appears on so many bucket-lists. Choosing to work with Inbound China means that you have access to our huge bank of insight and specialist local knowledge.
            Working together we can tailor the perfect tour, package or holiday for you and your customers – we can offer you anywhere
            and everywhere across the length and breadth of China!
            We'll help you make sure every box is ticked – even our guides are handpicked to make sure that we can provided the best in the business.
        </p>
        <ul>
           
            <li>
                <img src="/images/about_pic1.png" alt="">
                <div class="info">
                <h2 class="bold">why we arethe best</h2>
                <p>The experienced team at Inbound China are the consummate professionals when it comes to seamlessly delivering...</p>
                <a href="">Find Out More></a>
            </div>
            </li>
        
            <li>
                    <img src="/images/about_pic2.png" alt="">

                    <div class="info">
                            <h2 class="bold">our history</h2>
                            <p>The experienced team at Inbound China are the consummate professionals when it comes to seamlessly delivering...</p>
                            <a href="/about/best">Find Out More></a>
                        </div>
            </li>
            <li>
                    <div class="info">
                            <h2 class="bold">why we arethe best</h2>
                            <p>The experienced team at Inbound China are the consummate professionals when it comes to seamlessly delivering...</p>
                            <a href="/about/best">Find Out More></a>
                        </div>
                        <img src="/images/about_pic3.png" alt="">

            </li>
        
           
            <li>
                    <div class="info">
                            <h2 class="bold">why we arethe best</h2>
                            <p>The experienced team at Inbound China are the consummate professionals when it comes to seamlessly delivering...</p>
                            <a href="/about/best">Find Out More></a>
                        </div>
                        <img src="/images/about_pic4.png" alt="">

            </li>
           
        </ul>
    </div>
</div>