<div class="contact">
        <header class="hidden-xs"><a href="/">Home</a> / <i>Contact us</i></header>
        <div class="con_contain">
                <h1>By Phone & Email </h1>
                <ul class="container-fluid">
                    <li class="col-lg-6 col-xs-12 col-md-6">
						<div>
                        <h2>Australia</h2>
                        <h3>Tel: 44 (0) 20 3595 3003</h3>
                        <h3>Email:  info@inboundchina.com</h3>
                        <h3>Opening hours</h3>
                        <p>Mon-Fri 09:00am -17:30pm</p>
                        <p>Saturday  9:30am - 16:30pm</p>
						<p>Sunday  9:30am - 16:30pm</p>
					</div>
                    </li>
                    <li class="col-lg-6 col-xs-12 col-md-6">
						<div>
                        <h2>Australia</h2>
                        <h3>Tel: 44 (0) 20 3595 3003</h3>
                        <h3>Email:  info@inboundchina.com</h3>
                        <h3>Opening hours</h3>
                        <p>Mon-Fri 09:00am -17:30pm</p>
                        <p>Saturday  9:30am - 16:30pm</p>
						<p>Sunday  9:30am - 16:30pm</p>
					</div>
                    </li>
                    <li class="col-lg-6 col-xs-12 col-md-6">
							<div>

                        <h2>Australia</h2>
                        <h3>Tel: 44 (0) 20 3595 3003</h3>
                        <h3>Email:  info@inboundchina.com</h3>
                        <h3>Opening hours</h3>
                        <p>Mon-Fri 09:00am -17:30pm</p>
                        <p>Saturday  9:30am - 16:30pm</p>
						<p>Sunday  9:30am - 16:30pm</p>
						</div>
                    </li>
                    <li class="col-lg-6 col-xs-12 col-md-6">
							<div>

                        <h2>Australia</h2>
                        <h3>Tel: 44 (0) 20 3595 3003</h3>
                        <h3>Email:  info@inboundchina.com</h3>
                        <h3>Opening hours</h3>
                        <p>Mon-Fri 09:00am -17:30pm</p>
                        <p>Saturday  9:30am - 16:30pm</p>
						<p>Sunday  9:30am - 16:30pm</p>
						</div>
                    </li>
                </ul>
        </div>
		<div class="con_online">
				<div class="c_contain">
				<h1>Online</h1>
				<form>
					<div class="form_item">
						<select name="Title">
							<option value="">Title</option>
							<option value="Mr">Mr</option>
							<option value="Mrs">Mrs</option>
							<option value="Miss">Miss</option>
							<option value="Ms">Ms</option>
						</select>
					<input type="text" name="FirstName" placeholder="First name" />
				<input type="text"name="LastName" placeholder="Last Name">
				</div>
				<div class="form_item email">
					<input type="text" name="Email" placeholder="Email" />
					<input type="text" name="Telephone" placeholder="Telephone" />
				</div>
				<div class="form_item">
					<input type="text" name="Country" placeholder="County" />
					<input type="text" name="City" placeholder="Town/City" />
				</div>
				<p class="question q1">Prefer service (multiple choice)</p>
				<div class="check_list">
					<div class="check_label">
						<span>
								<input name="service[]" type="checkbox" value="Group Series">
								<i></i>
						</span>
						<label>Group Series</label>
					</div>
						<div class="check_label">
						<span>
								<input name="service[]" type="checkbox" value="Tailormade">
								<i></i>
	
						</span>
						<label>Tailormade</label>
					</div>
						<div class="check_label">
						<span>
								<input name="service[]" type="checkbox" value="Mice">
								<i></i>
	
						</span>
						<label>Mice</label>
					</div>
						<div class="check_label">
						<span>
								<input name="service[]" type="checkbox" value="Short Stays">
								<i></i>
	
						</span>
						<label>Short Stays</label>
					</div>
						<div class="check_label">
						<span>
								<input name="service[]" type="checkbox" value="Cruise Extensions">
								<i></i>
	
						</span>
						<label>Cruise Extensions</label>
					</div>
						<div class="check_label">
						<span>
								<input name="service[]" type="checkbox" value="Hotels, Cars, Fligts, Trains, Cruises">
								<i></i>
	
						</span>
						<label>Hotels, Cars, Fligts, Trains, Cruises</label>
					</div>
						<div class="check_label">
						<span>
								<input name="service[]" type="checkbox" value="Others">
								<i></i>
	
						</span>
						<label>Others</label>
					</div>
		
				</div>
				<p class="question">What prompted you to get in touch with us today?</p>
				<div class="q_label form_item">
					<input placeholder="E.g.recommended, Google, email, Sunday Times" type="text" name="Reason">
				</div>
				<p class="question">
					Any other comments or requests?
				</p>
				<div class="q_label form_item">
					<input type="text" placeholder="" name="Request">
				</div>
				<div class="check_label label_q">
					<span>
							<input type="checkbox" name="subscription">
							<i></i>
					</span>
					<div class="label_info">
							<p>Tick here to receive our newsletter</p>
							<p>If you are already signed up, your preferences will remain the same. You can unsubscribe at any time.</p>
					</div>
					
				</div>
				<div class="opera">
					<input type="submit" value="SUBMIT">
				</div>
			</div>
				
	
			</form>
		</div>
				
			</div>
	</div>