<div class="contact">
        <header>Home/Contact</header>
        <div class="con_contain">
                <h1>By Phone & Email </h1>
                <ul>
                    <li>
                        <h2>Australia</h2>
                        <h3>Tel: 44 (0) 20 3595 3003</h3>
                        <h3>Email:  info@inboundchina.com</h3>
                        <h3>Opening hours</h3>
                        <p>Mon-Fri 09:00am -17:30pm</p>
                        <p>Saturday  9:30am - 16:30pm</p>
                        <p>Sunday  9:30am - 16:30pm</p>
                    </li>
                    <li>
                        <h2>Australia</h2>
                        <h3>Tel: 44 (0) 20 3595 3003</h3>
                        <h3>Email:  info@inboundchina.com</h3>
                        <h3>Opening hours</h3>
                        <p>Mon-Fri 09:00am -17:30pm</p>
                        <p>Saturday  9:30am - 16:30pm</p>
                        <p>Sunday  9:30am - 16:30pm</p>
                    </li>
                    <li>
                        <h2>Australia</h2>
                        <h3>Tel: 44 (0) 20 3595 3003</h3>
                        <h3>Email:  info@inboundchina.com</h3>
                        <h3>Opening hours</h3>
                        <p>Mon-Fri 09:00am -17:30pm</p>
                        <p>Saturday  9:30am - 16:30pm</p>
                        <p>Sunday  9:30am - 16:30pm</p>
                    </li>
                    <li>
                        <h2>Australia</h2>
                        <h3>Tel: 44 (0) 20 3595 3003</h3>
                        <h3>Email:  info@inboundchina.com</h3>
                        <h3>Opening hours</h3>
                        <p>Mon-Fri 09:00am -17:30pm</p>
                        <p>Saturday  9:30am - 16:30pm</p>
                        <p>Sunday  9:30am - 16:30pm</p>
                    </li>
                </ul>
        </div>
        <div class="con_online">
			<div class="c_contain">
        	<h1>Online</h1>
        	<form>
        		<div class="form_item">
				<select>
					<option value="Title">Title</option>
				</select>
				<input type="text" placeholder="First name" />
            <input type="text" placeholder="Full Name">
			</div>
			<div class="form_item">
				<input type="text" placeholder="Email" />
				<input type="text" placeholder="Surname" />
			</div>
			<div class="form_item">
				<input type="text" placeholder="County" />
				<input type="text" placeholder="Town/City" />
			</div>
			<p class="question">Prefer service (multiple choice)</p>
			<div class="check_list">
				<div class="check_label">
					<span>
							<input type="checkbox">
							<i></i>
					</span>
					<label>Group Series</label>
				</div>
					<div class="check_label">
					<span>
							<input type="checkbox">
							<i></i>

					</span>
					<label>Group Series</label>
				</div>
					<div class="check_label">
					<span>
							<input type="checkbox">
							<i></i>

					</span>
					<label>Group Series</label>
				</div>
					<div class="check_label">
					<span>
							<input type="checkbox">
							<i></i>

					</span>
					<label>Group Series</label>
				</div>
					<div class="check_label">
					<span>
							<input type="checkbox">
							<i></i>

					</span>
					<label>Group Series</label>
				</div>
					<div class="check_label">
					<span>
							<input type="checkbox">
							<i></i>

					</span>
					<label>Group Series</label>
				</div>
					<div class="check_label">
					<span>
							<input type="checkbox">
							<i></i>

					</span>
					<label>Group Series</label>
				</div>
	
			</div>
			<p class="question">What prompted you to get in touch with us today?</p>
			<div class="q_label form_item">
				<input type="text" placeholder="">
			</div>
			<p class="question">
				Any other comments or requests?
			</p>
			<div class="q_label form_item">
				<input type="text" placeholder="">
			</div>
			<div class="check_label label_q">
				<span>
						<input type="checkbox">
						<i></i>
				</span>
				<div class="label_info">
						<p>Tick here to receive our newsletter</p>
						<p>If you are already signed up, your preferences will remain the same. You can unsubscribe at any time.</p>
				</div>
				
			</div>
			<div class="opera">
				<input type="submit" value="SUBMIT">
			</div>
		</div>
			

		</form>
	</div>
			
        </div>
</div>