<div class="home">
    <div class="banner_video hidden-xs">
        <video id="my-video" class="video-js vjs-big-play-centered" controls preload="auto" 
             data-setup="{}" poster="/images/video_banner.png">
             <source src="/images/IBC.mp4" type="video/mp4">
                <source src="http://vjs.zencdn.net/v/oceans.webm" type="video/webm">
          <source src="http://vjs.zencdn.net/v/oceans.ogv" type="video/ogg">
        </video>
    </div>
    <div class="banner visible-xs">
    

    </div>
    <div class="home_best">
        <h1 class="bold">WHY WE ARE THIE BEST</h1>
        <p class="hidden-xs">Inbound China is a well-established destination management
        </p>
        <p class="hidden-xs">
                company with over 20 years' experience in handling ground arrangements and touring in China. It's easy to see why China,
                with its long, fascinating history.</p>
        <p class="visible-xs">Inbound China is a well-established destination
            management company with over 20 years' experience in
            handling ground arrangements and touring in China. It's
            easy to see why China, with its long, fascinating history.</p>
        <ul class="container-fluid">
            <li class="col-lg-3 col-xs-12">
                <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="49" height="49" viewBox="0 0 49 49">
                            <metadata><?xpacket begin="﻿" id="W5M0MpCehiHzreSzNTczkc9d"?>
                            <x:xmpmeta xmlns:x="adobe:ns:meta/" x:xmptk="Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01        ">
                            <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                                <rdf:Description rdf:about=""/>
                            </rdf:RDF>
                            </x:xmpmeta>                                                                                                                
                            <?xpacket end="w"?></metadata>
                            <defs>
                                <style>
                                .cls-1 {
                                    fill: #195b8d;
                                    fill-rule: evenodd;
                                }
                                </style>
                            </defs>
                            <path id="形状_29_拷贝_4" data-name="形状 29 拷贝 4" class="cls-1" d="M814.077,1381.96A24.625,24.625,0,1,0,816,1391.5a24.513,24.513,0,0,0-1.923-9.54h0Zm-7.974,1.16L789.216,1400a1.762,1.762,0,0,1-2.48,0l-8.63-8.63c-0.68-.68-0.68-0.05,0-0.73s0.924-.68,1.605,0l8.261,4.39,15.644-11.77c0.68-.68,1.8-1.55,2.479-0.87s0.688,0.04.008,0.73h0Zm0,0" transform="translate(-767 -1367)"/>
                            </svg>
                <h2>Profitability</h2>
                <p>We provide you China Travel programmes at competitive price to ensure greatest profit of your business.</p>
            </div>
            </li>
            <li class="col-lg-3 col-xs-12">
                    <svg xmlns="http://www.w3.org/2000/svg" width="49" height="49" viewBox="0 0 49 49">
                        <metadata><?xpacket begin="﻿" id="W5M0MpCehiHzreSzNTczkc9d"?>
                        <x:xmpmeta xmlns:x="adobe:ns:meta/" x:xmptk="Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01        ">
                        <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                            <rdf:Description rdf:about=""/>
                        </rdf:RDF>
                        </x:xmpmeta>                                                                                                                
                        <?xpacket end="w"?></metadata>
                        <defs>
                            <style>
                            .cls-1 {
                                fill: #195b8d;
                                fill-rule: evenodd;
                            }
                            </style>
                        </defs>
                        <path id="形状_29_拷贝_4" data-name="形状 29 拷贝 4" class="cls-1" d="M814.077,1381.96A24.625,24.625,0,1,0,816,1391.5a24.513,24.513,0,0,0-1.923-9.54h0Zm-7.974,1.16L789.216,1400a1.762,1.762,0,0,1-2.48,0l-8.63-8.63c-0.68-.68-0.68-0.05,0-0.73s0.924-.68,1.605,0l8.261,4.39,15.644-11.77c0.68-.68,1.8-1.55,2.479-0.87s0.688,0.04.008,0.73h0Zm0,0" transform="translate(-767 -1367)"/>
                        </svg>
                <h2>Overseas branches</h2>
                <p>Our branches in London, Sydney and Auckland will make our communication easily with no time difference.
                </p>
            </li>
             <li class="col-lg-3 col-xs-12">
                    <svg xmlns="http://www.w3.org/2000/svg" width="49" height="49" viewBox="0 0 49 49">
                        <metadata><?xpacket begin="﻿" id="W5M0MpCehiHzreSzNTczkc9d"?>
                        <x:xmpmeta xmlns:x="adobe:ns:meta/" x:xmptk="Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01        ">
                        <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                            <rdf:Description rdf:about=""/>
                        </rdf:RDF>
                        </x:xmpmeta>                                                                                                                
                        <?xpacket end="w"?></metadata>
                        <defs>
                            <style>
                            .cls-1 {
                                fill: #195b8d;
                                fill-rule: evenodd;
                            }
                            </style>
                        </defs>
                        <path id="形状_29_拷贝_4" data-name="形状 29 拷贝 4" class="cls-1" d="M814.077,1381.96A24.625,24.625,0,1,0,816,1391.5a24.513,24.513,0,0,0-1.923-9.54h0Zm-7.974,1.16L789.216,1400a1.762,1.762,0,0,1-2.48,0l-8.63-8.63c-0.68-.68-0.68-0.05,0-0.73s0.924-.68,1.605,0l8.261,4.39,15.644-11.77c0.68-.68,1.8-1.55,2.479-0.87s0.688,0.04.008,0.73h0Zm0,0" transform="translate(-767 -1367)"/>
                        </svg>
                <h2>Professional travel services</h2>
                <p>From experienced trip advisors to guides and drivers, all of them are knowledgeable and professional to ensure the enjoyment, safety and wellbeing of your customers.
                </p>
            </li>
            <li class="col-lg-3 col-xs-12">
                    <div>

                            <svg xmlns="http://www.w3.org/2000/svg" width="49" height="49" viewBox="0 0 49 49">
                                <metadata><?xpacket begin="﻿" id="W5M0MpCehiHzreSzNTczkc9d"?>
                                <x:xmpmeta xmlns:x="adobe:ns:meta/" x:xmptk="Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01        ">
                                <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                                    <rdf:Description rdf:about=""/>
                                </rdf:RDF>
                                </x:xmpmeta>                                                                                                                
                                <?xpacket end="w"?></metadata>
                                <defs>
                                    <style>
                                    .cls-1 {
                                        fill: #195b8d;
                                        fill-rule: evenodd;
                                    }
                                    </style>
                                </defs>
                                <path id="形状_29_拷贝_4" data-name="形状 29 拷贝 4" class="cls-1" d="M814.077,1381.96A24.625,24.625,0,1,0,816,1391.5a24.513,24.513,0,0,0-1.923-9.54h0Zm-7.974,1.16L789.216,1400a1.762,1.762,0,0,1-2.48,0l-8.63-8.63c-0.68-.68-0.68-0.05,0-0.73s0.924-.68,1.605,0l8.261,4.39,15.644-11.77c0.68-.68,1.8-1.55,2.479-0.87s0.688,0.04.008,0.73h0Zm0,0" transform="translate(-767 -1367)"/>
                                </svg>
                <h2>Personalized Approach</h2>
                <p>Our responsible customer service will take care of your clients every step of the way from the beginning to the end of their China tour.  
                </p>
                </div>
            </li>
        </ul>
    </div>
    <div class="home_do home_wedo h_section">
        <h1>WHAT WE CAN DO</h1>
        <ul class="container-fluid">
            <li class="col-lg-4">
                <div class="do_layer hidden-xs">
                    <h2>Group Series</h2>
                    <p>At Inbound China, we pride ourselves on our extensive range of group tours. It is these, combined with our knowledge and experience in the region that has allowed us to work with many established tour operators in the US, UK and Europe.</p>
                    <a href="/service/group"><i>Find Out More></i></a>
                </div>
                <span>
                        <img src="/images/index_pic1.png" alt="">
                </span>
                <h2>Group Series</h2>
                <p>A group tour with Inbound China gives travelers the chance to see all the biggest and best...</p>
            </li>
            <li class="col-lg-4">
                   <div class="do_layer hidden-xs">
                    <h2>Group Series</h2>
                    <p>At Inbound China, we pride ourselves on our extensive range of group tours. It is these, combined with our knowledge and experience in the region that has allowed us to work with many established tour operators in the US, UK and Europe.</p>
                    <a href="/service/tail"><i>Find Out More></i></a>
                </div>
                    <span>
                            <img src="/images/index_pic2.png" alt="">
                    </span>
                    <h2>Tailormade</h2>
                    <p>A group tour with Inbound China gives travelers the chance to see all the biggest and best...</p>
            </li>
            <li class="col-lg-4">   <div class="do_layer hidden-xs">
                    <h2>Group Series</h2>
                    <p>At Inbound China, we pride ourselves on our extensive range of group tours. It is these, combined with our knowledge and experience in the region that has allowed us to work with many established tour operators in the US, UK and Europe.</p>
                    <a href="/service/mice"><i>Find Out More></i></a>
                </div>
                    <span>
                            <img src="/images/index_pic3.png" alt="">
                    </span>
                    <h2>Mice</h2>
                    <p>Following with China’s economy booming, Beijing, Shanghai, Guangzhou and other big...</p>
            </li>
            <li class="col-lg-4">   <div class="do_layer hidden-xs">
                    <h2>Short Stays</h2>
                    <p>We provide you various short stay programs in most of China cities. Add them onto the...</p>
                    <a href="/service/cruise"><i>Find Out More></i></a>
                </div>
                    <span>
                            <img src="/images/index_pic4.png" alt="">
                    </span>
                    <h2>Cruise Extensions</h2>
                    <p>We currently serve some of the world's most prestigious cruise liners who sail to the...</p>
            </li>
            <li class="col-lg-4">   <div class="do_layer hidden-xs">
                    <h2>Group Series</h2>
                    <p>At Inbound China, we pride ourselves on our extensive range of group tours. It is these, combined with our knowledge and experience in the region that has allowed us to work with many established tour operators in the US, UK and Europe.</p>
                    <a href="/service/stays"><i>Find Out More></i></a>
                </div>
                    <span>
                            <img src="/images/index_pic5.png" alt="">
                    </span>
                    <h2>Short Stays</h2>
                    <p>A group tour with Inbound China gives travelers the chance to see all the biggest and best...</p>
            </li>
            <li class="col-lg-4"> 
                  <div class="do_layer hidden-xs">
                    <h2>Group Series</h2>
                    <p>At Inbound China, we pride ourselves on our extensive range of group tours. It is these, combined with our knowledge and experience in the region that has allowed us to work with many established tour operators in the US, UK and Europe.</p>
                    <a href="/service/hotel"><i>Find Out More></i></a>
                </div>
                    <span>
                            <img src="/images/index_pic6.png" alt="">
                    </span>
                    <h2>Hotels & Cars<br>Flights & Trains & Cruises</h2>
                    <p>We have an extensive portfolio of ...</p>
            </li>
        
        </ul>

    </div>
    <div class="home_say hidden-xs">
        <h1 class="bold">WHAT TRAVELERS ARE SAYING</h1>
        <div class="home_say_list">
            <div class="hone_say_item swiper-container">
                <div class="swiper-wrapper">
                <ul class="swiper-slide">
                    <li class="col-lg-4">
                        <div>
                        <p>
                                “Inbound China is a well-established destination management company with over 20 years' experience in handling ground arrangements and touring in China.”
                        </p>
                        <p><img src="/images/icon_start.png" alt=""></p>

                        <div class="info">
                            <p class="user">
                                <img src="/images/icon_user.png" alt="">
                                Agatha Bridget
                            </p>
                            <p class="name">Australia</p>
                            <p class="time">Tour Date: 11/6/2017</p>
                        </div>
                    </div>
                    </li>
                    <li class="col-lg-4">
                            <div>

                            <p>
                                    “Inbound China is a well-established destination management company with over 20 years' experience in handling ground arrangements and touring in China.”
                            </p>
                            <p><img src="/images/icon_start.png" alt=""></p>
                            <div class="info">
                                <p class="user">
                                    <img src="/images/icon_user.png" alt="">
                                    Agatha Bridget
                                </p>
                                <p class="name">Australia</p>
                                <p class="time">Tour Date: 11/6/2017</p>
                            </div>
                            </div>
                        </li>
                        <li class="col-lg-4">
                                <div>

                                <p>
                                        “Inbound China is a well-established destination management company with over 20 years' experience in handling ground arrangements and touring in China.”
                                </p>
                                <p><img src="/images/icon_start.png" alt=""></p>

                                <div class="info">
                                    <p class="user">
                                        <img src="/images/icon_user.png" alt="">
                                        Agatha Bridget
                                    </p>
                                    <p class="name">Australia</p>
                                    <p class="time">Tour Date: 11/6/2017</p>
                                </div>
                                </div>
                            </li>
                </ul>                    
                </div>
  
            </div>
            <div class="s_opera">
                    <img class="right" src="/images/left_arrow.png" alt="">

                <img class="left" src="/images/left_arrow.png" alt="">
            </div>
        </div>
    </div>
    <div class="h_section home_say visible-xs">
            <h1>What travelers are saying</h1>
            <div class="swiper-container">
            <ul class="swiper-wrapper">
                
                <li class="swiper-slide">
                    <p class="content">“Inbound China is a well-established destination management company with over 20 years' experience in handling ground arrangements and touring in China.”</p>
                    <img src="/images/icon_start.png" alt="">
                    <div class="say_user">
                            <p >
                                    <img src="/images/icon_user.png" alt="">
                                    Agatha Bridget
                                </p>
                                <p>Australia</p>
                                <p>Tour Date: 11/6/2017</p>
                    </div>
            
                </li>
            </div>
            </ul>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    <% include ../layout/form.ejs %>
    <div class="home_award h_section visible-xs">
        <h1>Our Awards</h1>
        <p>Throughout years of operation, Inbound China has provided travel services for tens of thousands of travelers. Our endeavor to provide customers satisfied service and travel innovation has earned us several travel industry awards.
            </p>
        <p>
            <img src="/images/index_cup.png" alt="">
            <img src="/images/index_grade.png" alt="">
        </p>
    </div>
    <div class="home_partners home_pinter h_section">
        <h1 class="bold">PARNTERS</h1>
        <p>The Inbound China team have both lived in and
            travelled extensively throughout China. With such intimate knowledge of this vast nation, we are perfectly positioned to
            create and tailor bespoke itineraries.</p>
            <ul class="container-fluid">
                <li class="col-lg-3 col-xs-6">
                    <img src="/images/foot_cp1.png" alt="">
                </li>
                <li class="col-lg-3 col-xs-6">
                    <img src="/images/foot_cp2.png" alt="">
                </li>
                <li class="col-lg-3 col-xs-6">
                    <img src="/images/foot_cp3.png" alt="">
                </li>
                <li class="col-lg-3 col-xs-6">
                    <img src="/images/foot_cp4.png" alt="">
                </li>
                <li class="col-lg-3 col-xs-6">
                    <img src="/images/foot_cp5.png" alt="">
                </li>
                <li class="col-lg-3 col-xs-6">
                    <img src="/images/foot_cp6.png" alt="">
                </li>
                <li class="col-lg-3 col-xs-6">
                    <img src="/images/foot_cp7.png" alt="">
                </li>
                <li class="col-lg-3 col-xs-6">
                    <img src="/images/foot_cp8.png" alt="">
                </li>
            </ul>
    </div>
   
</div>
<script>
      var mySwiper = new Swiper ('.swiper-container', {
    direction: 'horizontal',
    loop: true,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  })       

  </script>
