<div class="review">
        <header  class="hidden-xs">Home / <i>review</i></header>
        <div class="list h_contain">
            <ul>
                <li>
                    <div class="info">
                        <span class="re_start">TRIP RATING <img src="/images/icon_start.png" alt=""></span>
                        <span class="re_user"><img src="/images/icon_user.png" alt="">Agatha Bridget</span>
                        <span class="address">Australia</span>
                        <span class="time">Tour Date: 11/6/2017</span>
                    </div>
                    <p>“Inbound China is a well-established destination management company with over 20 years' experience in handling ground arrangements and touring in China. Inbound China is a well-established destination management company with over 20 years' experience in handling ground arrangements and touring in China...” <i>ReadMore</i></p>
                </li>
                <li>
                        <div class="info">
                            <span class="re_start">TRIP RATING <img src="/images/icon_start.png" alt=""></span>
                            <span class="re_user"><img src="/images/icon_user.png" alt="">Agatha Bridget</span>
                            <span class="address">Australia</span>
                            <span class="time">Tour Date: 11/6/2017</span>
                        </div>
                        <p>“Inbound China is a well-established destination management company with over 20 years' experience in handling ground arrangements and touring in China. Inbound China is a well-established destination management company with over 20 years' experience in handling ground arrangements and touring in China...” <i>ReadMore</i></p>
                    </li>
                    <li>
                            <div class="info">
                                <span class="re_start">TRIP RATING <img src="/images/icon_start.png" alt=""></span>
                                <span class="re_user"><img src="/images/icon_user.png" alt="">Agatha Bridget</span>
                                <span class="address">Australia</span>
                                <span class="time">Tour Date: 11/6/2017</span>
                            </div>
                            <p>“Inbound China is a well-established destination management company with over 20 years' experience in handling ground arrangements and touring in China. Inbound China is a well-established destination management company with over 20 years' experience in handling ground arrangements and touring in China...” <i>ReadMore</i></p>
                        </li>
                        <li>
                                <div class="info">
                                    <span class="re_start">TRIP RATING <img src="/images/icon_start.png" alt=""></span>
                                    <span class="re_user"><img src="/images/icon_user.png" alt="">Agatha Bridget</span>
                                    <span class="address">Australia</span>
                                    <span class="time">Tour Date: 11/6/2017</span>
                                </div>
                                <p>“Inbound China is a well-established destination management company with over 20 years' experience in handling ground arrangements and touring in China. Inbound China is a well-established destination management company with over 20 years' experience in handling ground arrangements and touring in China...”<i>ReadMore</i></p>
                            </li>
            </ul>
            <div class="opera">
                <a>FIND OUT MORE</a>
            </div>
        </div>
</div>