<div class="service">
    <header  class="hidden-xs"><a href="/">Home</a> / <i>Our Service</i></header>
    <div class="se_contain h_contain">
        <h1 class="hader_h1 bold">WHAT WE CAN DO</h1>
        <p class="hidden-xs">Inbound China is a well-established destination management company
            <br>with over 20 years' experience in handling ground arrangements and touring in China.It's easy to see why China, with its long,
            <br>fascinating history, its rich culture and spectacular landscapes,
            <br>appears on so many bucket-lists. Choosing to work with Inbound China means that you have access to our huge bank of insight and specialist local knowledge.
            <br>Working together we can tailor the perfect tour, package or holiday for you and your customers – we can offer you anywhere
            <br>and everywhere across the length and breadth of China!</p>
            <p class="visible-xs">Inbound China is a well-established destination
                    management company with over 20 years' experience in
                    handling ground arrangements and touring in China. It's
                    easy to see why China, with its long, fascinating history.</p>
        <ul class="container-fluid">
            <li class="col-lg-4">
                <div>
                <h2>Group Series</h2>
                <div class="thumb">
                    <img src="./images/s1.png" alt="">
                </div>
                <p>At Inbound China, we pride ourselves on our extensive range of group tours. It is these, combined with our knowledge and experience in the region that has allowed us to work with many established tour operators in the US, UK and Europe.</p>
                <p class="opera">
                    <a href="/service/group">FIND OUT MORE</a>
                </p>
            </div>
            </li>
            <li class="col-lg-4">
                                <div>

                <h2>Tailormade</h2>
                <div class="thumb">
                    <img src="./images/s2.png" alt="">
                </div>
                <p>At Inbound China, we pride ourselves on our extensive range of group tours. It is these, combined with our knowledge and experience in the region that has allowed us to work with many established tour operators in the US, UK and Europe.</p>
                <p class="opera">
                            <a href="/service/hotel">FIND OUT MORE</a>
                    </p>
                    </div>
            </li>
            <li class="col-lg-4">
                    <div>

                <h2>MICE</h2>
                <div class="thumb">
                    <img src="./images/s3.png" alt="">
                </div>
                <p>At Inbound China, we pride ourselves on our extensive range of group tours. It is these, combined with our knowledge and experience in the region that has allowed us to work with many established tour operators in the US, UK and Europe.</p>
                <p class="opera">
                        <a href="/service/mice">FIND OUT MORE</a>
                    </p>
                    </div>
            </li>
            <li class="col-lg-4">
                    <div>

                <h2>Short Stays</h2>
                <div class="thumb">
                    <img src="./images/s4.png" alt="">
                </div>
                <p>At Inbound China, we pride ourselves on our extensive range of group tours. It is these, combined with our knowledge and experience in the region that has allowed us to work with many established tour operators in the US, UK and Europe.</p>
                <p class="opera">
                        <a href="/service/stays">FIND OUT MORE</a>
                    </p>
                    </div>
            </li>
            <li class="col-lg-4">
                    <div>

                <h2>Cruise Extensions</h2>
                <div class="thumb">
                    <img src="./images/s5.png" alt="">
                </div>
                <p>At Inbound China, we pride ourselves on our extensive range of group tours. It is these, combined with our knowledge and experience in the region that has allowed us to work with many established tour operators in the US, UK and Europe.</p>
                <p class="opera">
                        <a href="/service/cruise">FIND OUT MORE</a>
                    </p>
                    </div>
            </li>
            <li class="col-lg-4">
                    <div>

                <h2>Hotels & Cars</h2>
                <div class="thumb">
                    <img src="./images/s6.png" alt="">
                </div>
                <p>At Inbound China, we pride ourselves on our extensive range of group tours. It is these, combined with our knowledge and experience in the region that has allowed us to work with many established tour operators in the US, UK and Europe.</p>
                <p class="opera">
                        <a href="/service/hotel">FIND OUT MORE</a>
                    </p>
                    </div>
            </li>
        </ul>
        
    </div>
  
    <div class="awards">
        <div class="awards_info">
            <div><img src="./images/male.png"/></div>
            <h1 class="bold">
                Yasmine Heidy
            </h1>
            <h2>Group Expert</h2>
          <p>
                At Inbound China, we pride ourselves on our extensive range of group tours. It is these, combined with our knowledge and experience in the region that has allowed us to work with many established tour operators in the US, UK and Europe.
          </p>
          <div class="awards_contact">
                <p>Tel: +44 (0) 20 3595 3003</p>
                <p>Email: info@inboundchina.com</p>
          </div>
         
        </div>
<div class="awards_form">
        <form action="">
        
               <p>Our Group Expert Yasmine Heidy </p>
               <h1>
                Our Group Expert Yasmine Heidy </h1>
        <div class="form_item">
            <select name="" id="">
                <option value="">Service</option>
            </select>
        </div>
        <div class="form_item form_sel">
            <select name="" id="">
                <option value="">Service</option>
            </select>
            <input type="text" placeholder="Full Name">
        </div>
        <div class="form_item">
                <input type="text" placeholder="Full Name">
         </div>
         <div class="form_item">
                <select name="" id="">
                        <option value="">Service</option>
                </select>
         </div>
         <div class="form_item">
            <textarea name="" id=""  cols="30" rows="10"></textarea>
        </div>
        <div class="opera">
            <input type="submit" value="SUBMIT">
        </div>
    </form>
    </div>
</div>



</div>