<div class="service">
    <header  class="hidden-xs">Home/ourservice</header>
    <div class="se_contain h_contain">
        <h1 class="hader_h1 bold">WHAT WE CAN DO</h1>
        <p class="hidden-xs">Inbound China is a well-established destination management company
            with over 20 years' experience in handling ground arrangements and touring in China.It's easy to see why China, with its long,
            fascinating history, its rich culture and spectacular landscapes,
            appears on so many bucket-lists. Choosing to work with Inbound China means that you have access to our huge bank of insight and specialist local knowledge.
            Working together we can tailor the perfect tour, package or holiday for you and your customers – we can offer you anywhere
            and everywhere across the length and breadth of China!</p>
            <p class="visible-xs">Inbound China is a well-established destination
                    management company with over 20 years' experience in
                    handling ground arrangements and touring in China. It's
                    easy to see why China, with its long, fascinating history.</p>
        <ul class="container-fluid">
            <li class="col-lg-4">
                <div>
                <h2>Group Series</h2>
                <div class="thumb">
                    <img src="/images/s1.png" alt="">
                </div>
                <p>At Inbound China, we pride ourselves on our extensive range of group tours. It is these, combined with our knowledge and experience in the region that has allowed us to work with many established tour operators in the US, UK and Europe.</p>
                <p class="opera">
                    <a href="/service/group">Find out more</a>
                </p>
            </div>
            </li>
            <li class="col-lg-4">
                                <div>

                <h2>Tailormade</h2>
                <div class="thumb">
                    <img src="/images/s2.png" alt="">
                </div>
                <p>At Inbound China, we pride ourselves on our extensive range of group tours. It is these, combined with our knowledge and experience in the region that has allowed us to work with many established tour operators in the US, UK and Europe.</p>
                <p class="opera">
                            <a href="/service/hotel">Find out more</a>
                    </p>
                    </div>
            </li>
            <li class="col-lg-4">
                    <div>

                <h2>MICE</h2>
                <div class="thumb">
                    <img src="/images/s3.png" alt="">
                </div>
                <p>At Inbound China, we pride ourselves on our extensive range of group tours. It is these, combined with our knowledge and experience in the region that has allowed us to work with many established tour operators in the US, UK and Europe.</p>
                <p class="opera">
                        <a href="/service/mice">Find out more</a>
                    </p>
                    </div>
            </li>
            <li class="col-lg-4">
                    <div>

                <h2>Short Stays</h2>
                <div class="thumb">
                    <img src="/images/s4.png" alt="">
                </div>
                <p>At Inbound China, we pride ourselves on our extensive range of group tours. It is these, combined with our knowledge and experience in the region that has allowed us to work with many established tour operators in the US, UK and Europe.</p>
                <p class="opera">
                        <a href="/service/stays">Find out more</a>
                    </p>
                    </div>
            </li>
            <li class="col-lg-4">
                    <div>

                <h2>Cruise Extensions</h2>
                <div class="thumb">
                    <img src="/images/s5.png" alt="">
                </div>
                <p>At Inbound China, we pride ourselves on our extensive range of group tours. It is these, combined with our knowledge and experience in the region that has allowed us to work with many established tour operators in the US, UK and Europe.</p>
                <p class="opera">
                        <a href="/service/cruise">Find out more</a>
                    </p>
                    </div>
            </li>
            <li class="col-lg-4">
                    <div>

                <h2>Hotels & Cars</h2>
                <div class="thumb">
                    <img src="/images/s6.png" alt="">
                </div>
                <p>At Inbound China, we pride ourselves on our extensive range of group tours. It is these, combined with our knowledge and experience in the region that has allowed us to work with many established tour operators in the US, UK and Europe.</p>
                <p class="opera">
                        <a href="/service/hotel">Find out more</a>
                    </p>
                    </div>
            </li>
        </ul>
        
    </div>
  
        <% include ../layout/service_form.ejs %>


</div>